In [45]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv("movies.csv", encoding='latin-1')
data.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986

In [3]:
#Data understanding
for column in data.columns:
    print(data[column].value_counts())

0.0            2182
20000000.0      207
30000000.0      191
25000000.0      177
15000000.0      170
10000000.0      155
40000000.0      150
35000000.0      149
50000000.0      115
5000000.0       113
60000000.0      107
12000000.0      102
6000000.0        90
8000000.0        88
18000000.0       88
13000000.0       76
7000000.0        73
3000000.0        73
45000000.0       72
17000000.0       65
80000000.0       65
70000000.0       65
11000000.0       62
16000000.0       60
14000000.0       58
22000000.0       57
4000000.0        55
75000000.0       54
55000000.0       54
100000000.0      49
               ...
260000000.0       1
8900000.0         1
12800000.0        1
10920000.0        1
63600000.0        1
9200000.0         1
65000.0           1
126000000.0       1
29750000.0        1
17700000.0        1
176000000.0       1
169000.0          1
26350000.0        1
5600000.0         1
230000000.0       1
144000000.0       1
11800000.0        1
950000.0          1
2309723.0         1
175000.0          1
30000.0           1
5300000.0         1
25500000.0        1
8200000.0         1
13300000.0        1
29000001.0        1
128000000.0       1
24500000.0        1
300000.0          1
5800000.0         1
Name: budget, Length: 351, dtype: int64
Universal Pictures                        302
Warner Bros.                              294
Paramount Pictures                        259
Twentieth Century Fox Film Corporation    205
New Line Cinema                           172
Columbia Pictures Corporation             166
Touchstone Pictures                       131
Columbia Pictures                         108
Walt Disney Pictures                      102
Metro-Goldwyn-Mayer (MGM)                 101
TriStar Pictures                           85
Miramax                                    77
DreamWorks                                 76
Castle Rock Entertainment                  62
Fox 2000 Pictures                          58
Dimension Films                            57
Fox Searchlight Pictures                   57
Hollywood Pictures                         52
Screen Gems                                46
Lionsgate                                  44
Orion Pictures                             40
Focus Features                             38
Summit Entertainment                       38
Morgan Creek Productions                   37
Revolution Studios                         33
Regency Enterprises                        33
The Weinstein Company                      29
EuropaCorp                                 28
Channel Four Films                         27
BBC Films                                  27
                                         ...
NPV Entertainment                           1
TMS Pictures                                1
Gotham Entertainment Group                  1
Chickie the Cop                             1
Califilm                                    1
Halcyon Company, The                        1
Sunshine                                    1
i5 Films                                    1
Emshell Producers                           1
Monarch Pictures                            1
7 Films Cinéma                              1
DJ Films                                    1
Rondo Productions                           1
Luna Films                                  1
Blueline Productions                        1
Curbside Films                              1
Alicéléo                                    1
Film Department, The                        1
3 Miles Apart Productions Ltd.              1
Front Films                                 1
First Sun                                   1
Pope Productions                            1
Magnum Pictures Inc.                        1
Raffaella Productions                       1
Christopher Columbus Productions            1
Griffon Productions                         1
Anna Biller Productions                     1
It's a Laugh Productions                    1
Brant-Allen                                 1
Freedom Media                               1
Name: company, Length: 2179, dtype: int64
USA                               4872
UK                                 698
France                             283
Canada                             150
Germany                            134
Australia                           82
Japan                               68
Spain                               56
Italy                               51
Ireland                             44
Hong Kong                           39
India                               39
Denmark                             33
China                               24
South Korea                         20
Belgium                             18
New Zealand                         18
Sweden                              18
Mexico                              15
Argentina                           13
Netherlands                         12
Iran                                12
Russia                              10
South Africa                         9
Taiwan                               8
Norway                               8
Czech Republic                       8
Hungary                              7
Switzerland                          6
Brazil                               6
Austria                              6
Greece                               5
Romania                              5
Israel                               5
West Germany                         4
Chile                                4
Finland                              3
Thailand                             3
Peru                                 2
Colombia                             2
Poland                               2
Indonesia                            2
Portugal                             2
Bahamas                              1
Malta                                1
Ukraine                              1
Soviet Union                         1
Kenya                                1
Saudi Arabia                         1
Iceland                              1
Aruba                                1
Republic of Macedonia                1
Jamaica                              1
Palestine                            1
Federal Republic of Yugoslavia       1
Panama                               1
Cuba                                 1
Name: country, dtype: int64
Woody Allen             33
Clint Eastwood          24
Steven Soderbergh       21
Steven Spielberg        21
Ron Howard              20
Ridley Scott            19
Joel Schumacher         19
Spike Lee               18
Barry Levinson          18
Stephen Frears          17
Tim Burton              17
Richard Linklater       17
Oliver Stone            17
Bruce Beresford         16
Garry Marshall          15
Martin Scorsese         15
Renny Harlin            15
Chris Columbus          15
Rob Reiner              15
Tony Scott              15
Robert Zemeckis         14
Pedro Almodóvar         14
Wes Craven              14
Dennis Dugan            14
Gus Van Sant            13
Ang Lee                 13
Neil Jordan             13
Robert Rodriguez        13
Michael Apted           13
Roger Donaldson         13
                        ..
Sarah Adina Smith        1
Andy Wolk                1
Ilya Naishuller          1
Yurek Bogayevicz         1
Deborah Kampmeier        1
DJ Pooh                  1
John Howley              1
Richard Williams         1
Nicolás Echevarría       1
Lee David Zlotoff        1
John Pieplow             1
Santosh Sivan            1
Bob Logan                1
Bill Couturié            1
George Scribner          1
Colin Nutley             1
Heitor Dhalia            1
Dave Filoni              1
John Swanbeck            1
Larry David              1
Robert Meyer Burnett     1
Andrew Neel              1
Eric Meza                1
Joe Camp                 1
Thierry Notz             1
Nishikant Kamat          1
Nicolas Pesce            1
Roger Vadim              1
Scott Speer              1
Christopher Morris       1
Name: director, Length: 2759, dtype: int64
Comedy       2080
Drama        1444
Action       1331
Crime         522
Adventure     392
Biography     359
Animation     277
Horror        277
Mystery        38
Fantasy        32
Thriller       18
Romance        15
Family         14
Sci-Fi         13
Musical         4
Western         2
War             2
Name: genre, dtype: int64
20100000.0     3
3500000.0      3
1200000.0      3
700000.0       2
1500000.0      2
1000000.0      2
1000045.0      2
50000.0        2
119919.0       2
69136.0        2
19281235.0     2
12100000.0     2
300000.0       2
15324.0        2
1100000.0      2
85846429.0     1
2643689.0      1
63270710.0     1
38105077.0     1
40202379.0     1
106954678.0    1
396003.0       1
135645823.0    1
15325127.0     1
857522.0       1
67823573.0     1
1256355.0      1
4370078.0      1
23247539.0     1
109767581.0    1
              ..
349618.0       1
32616869.0     1
26570463.0     1
21848932.0     1
19751736.0     1
5855392.0      1
191164.0       1
32589677.0     1
72708161.0     1
64665672.0     1
7690013.0      1
2086345.0      1
17278980.0     1
40069087.0     1
613556.0       1
551660.0       1
1010414.0      1
17129000.0     1
10400000.0     1
72779000.0     1
2534351.0      1
10137502.0     1
79003080.0     1
1877179.0      1
1168902.0      1
68518533.0     1
20275446.0     1
69117629.0     1
57328603.0     1
2368.0         1
Name: gross, Length: 6802, dtype: int64
Hamlet                             3
Pulse                              3
Sunshine                           2
Jane Eyre                          2
The Hitcher                        2
The Hunted                         2
Proof                              2
Max                                2
The Stepfather                     2
No Escape                          2
Man on Fire                        2
Flawless                           2
It Runs in the Family              2
Deadfall                           2
Rumpelstiltskin                    2
Concussion                         2
The Rookie                         2
The Gift                           2
Voraz                              2
Cocktail                           2
Bad Company                        2
Twilight                           2
The Phantom of the Opera           2
Unknown                            2
The Girl with the Dragon Tattoo    2
The In Crowd                       2
The Three Musketeers               2
Mother                             2
Everybody's Fine                   2
Fair Game                          2
                                  ..
Twice Born                         1
Pure Luck                          1
Assassins                          1
The Dictator                       1
The Punisher                       1
American Psycho                    1
La tortuga roja                    1
The Book of Eli                    1
The Namesake                       1
The Madness of King George         1
Michael                            1
Camille Claudel                    1
The Tree of Life                   1
All the Pretty Horses              1
Detachment                         1
Big Shots                          1
The Big Easy                       1
Once Upon a Time in China III      1
Pleasantville                      1
The Runaways                       1
The Prestige                       1
El juego del miedo VI              1
Shag                               1
The Woodsman                       1
The Room                           1
The Night Before                   1
Jamón, Jamón                       1
Natural Born Killers               1
The Spanish Prisoner               1
Driving Miss Daisy                 1
Name: name, Length: 6731, dtype: int64
R                3392
PG-13            1995
PG                951
NOT RATED         174
G                 147
UNRATED            71
Not specified      63
NC-17              22
TV-14               1
B                   1
TV-MA               1
TV-PG               1
B15                 1
Name: rating, dtype: int64
1991-10-04    10
2008-09-26     9
1988-10-21     9
1988-11-18     9
2012-04-20     8
1989-01-13     8
2002-10-11     8
1988-03-04     8
2008-12-25     8
2006-10-13     8
2000-10-20     8
2016-10-21     8
1990-03-09     8
1986-08-22     8
1986-11-07     8
2011-03-18     8
1987-11-06     8
2003-11-14     8
2007-10-19     8
1993-02-12     8
2015-09-25     7
2015-04-10     7
1987-09-18     7
1997-09-19     7
1989-11-03     7
1999-01-22     7
1996-03-22     7
2010-12-17     7
2016-08-26     7
1987-03-13     7
              ..
2013-12-11     1
2011-04-24     1
1990-12-25     1
1987-05-23     1
2014-04-24     1
2007-04-04     1
2013-08-21     1
2011-06-25     1
1987-03-27     1
1990-10-03     1
1994-12-28     1
2016-07-13     1
2017-07-28     1
1991-10-24     1
1988-01-09     1
1988-02-19     1
1991-08-28     1
2017-03-15     1
2005-05-19     1
1993-11-17     1
2003-12-17     1
1996-07-24     1
1992-05-13     1
2004-06-23     1
1998-08-05     1
2015-07-09     1
2000-03-22     1
2012-01-05     1
2000-03-15     1
2014-09-04     1
Name: released, Length: 2403, dtype: int64
100    546
97     209
98     200
95     193
101    185
90     181
102    179
96     179
105    175
99     174
93     172
108    165
106    163
104    160
107    158
94     155
91     153
103    147
92     145
110    144
88     127
112    123
109    115
89     114
113    114
111    109
115    106
118    102
114    100
117     93
      ...
183      2
192      2
188      2
191      2
195      2
181      2
177      2
271      1
168      1
176      1
187      1
179      1
175      1
366      1
242      1
238      1
210      1
202      1
194      1
166      1
219      1
50       1
357      1
201      1
193      1
185      1
173      1
280      1
224      1
70       1
Name: runtime, Length: 135, dtype: int64
6.7    304
6.5    284
6.3    284
6.4    283
6.6    273
6.2    270
6.8    258
6.1    256
7.2    244
5.9    241
7.0    240
7.1    233
6.9    228
7.3    226
5.7    221
5.8    212
6.0    210
7.4    180
7.6    177
5.6    173
7.5    169
5.5    154
5.3    146
5.4    140
7.7    136
7.8    132
5.1    100
5.2     90
5.0     82
4.9     80
      ...
8.5     15
3.8     14
8.4     13
3.5     13
3.6     13
3.7     13
8.6     10
3.4      7
2.9      5
2.8      5
2.4      5
8.7      5
3.2      5
3.3      5
8.8      4
2.6      4
2.3      4
2.7      4
8.9      3
2.2      3
2.0      2
3.1      2
1.9      2
9.3      1
3.0      1
9.0      1
1.5      1
1.6      1
2.1      1
2.5      1
Name: score, Length: 75, dtype: int64
Nicolas Cage             42
Robert De Niro           38
Denzel Washington        36
Tom Hanks                35
Bruce Willis             33
Johnny Depp              32
Ben Stiller              27
Adam Sandler             27
Tom Cruise               27
Kevin Costner            26
John Cusack              26
Robin Williams           25
John Travolta            25
Eddie Murphy             25
Sylvester Stallone       25
Keanu Reeves             24
Steve Martin             24
Mel Gibson               23
Mark Wahlberg            23
Matt Damon               22
Jim Carrey               22
George Clooney           22
Ben Affleck              22
Brad Pitt                22
Arnold Schwarzenegger    22
Matthew McConaughey      22
Sandra Bullock           21
Ethan Hawke              21
Anthony Hopkins          21
Jeff Bridges             21
                         ..
Lesley-Anne Down          1
Julien Ciamaca            1
Dana Delany               1
Shashi Kapoor             1
Sarah Wynter              1
Cybill Shepherd           1
Jillian McWhirter         1
Jamal Woolard             1
Bruce Jones               1
Tiger Hu Chen             1
Andrew Lowery             1
Michael Oliver            1
Luigi Lo Cascio           1
Richard Harris            1
Anika Noni Rose           1
Ed O'Neill                1
Toni Servillo             1
Tamela J. Mann            1
Pål Sverre Hagen          1
Lane Smith                1
Jonathan Brandis          1
Kristen Connolly          1
Jenna Fischer             1
Casey Siemaszko           1
Noémie Lvovsky            1
Ferdia Walsh-Peelo        1
Jeremy Theobald           1
Paul Kaye                 1
Lukas Haas                1
Linnea Quigley            1
Name: star, Length: 2504, dtype: int64
1340      4
2003      4
1959      3
5757      3
1943      3
9141      3
2101      3
2385      3
5807      3
505       3
692       3
1509      3
2180      3
13051     3
2157      3
3075      3
11161     2
105471    2
5354      2
2838      2
973       2
15445     2
8970      2
5119      2
3376      2
9152      2
44133     2
58556     2
1410      2
19380     2
         ..
23326     1
11040     1
35620     1
23334     1
9001      1
10992     1
21231     1
131821    1
125648    1
64186     1
35516     1
4799      1
160451    1
19140     1
37575     1
8905      1
80586     1
717       1
94931     1
8937      1
2772      1
10968     1
58073     1
2780      1
82653     1
39646     1
4831      1
2788      1
213733    1
20482     1
Name: votes, Length: 6512, dtype: int64
Woody Allen              32
Luc Besson               25
Stephen King             22
John Hughes              18
David Mamet              14
William Shakespeare      14
Pedro Almodóvar          13
Wes Craven               12
Tyler Perry              12
Robert Rodriguez         11
Joel Coen                11
Jim Jarmusch             10
M. Night Shyamalan       10
Ehren Kruger             10
Michael Crichton         10
Kevin Smith              10
Lars von Trier           10
Quentin Tarantino        10
Brian Helgeland          10
John Logan               10
John Grisham              9
Mike Leigh                9
Steven Knight             9
Leigh Whannell            8
Lilly Wachowski           8
Spike Lee                 8
Joe Eszterhas             8
Gregg Araki               8
Peter Morgan              8
Jane Austen               8
                         ..
Christopher Robbins       1
Michael Radford           1
Laura Esquivel            1
John Ajvide Lindqvist     1
Brian Miller              1
Willie Morris             1
Steven Baigelman          1
John Davies               1
Mark Haskell Smith        1
Cinqué Lee                1
Dorothy Tristan           1
Mark Young                1
Brian Doyle-Murray        1
Kenneth Branagh           1
David Odell               1
Vladimir Moiseenko        1
Floria Sigismondi         1
James Merendino           1
Lanier Laney              1
Walter Bernstein          1
Stephen Levy              1
Ken Sanzel                1
Osamu Tezuka              1
Xiao Mao                  1
John Matton               1
Desmond Nakano            1
Tennessee Williams        1
Anna Campion              1
Joseph D. Pistone         1
Stephen Neigher           1
Name: writer, Length: 4199, dtype: int64
1989    221
2015    220
2013    220
1992    220
1996    220
2000    220
2004    220
2008    220
2012    220
2016    220
1993    220
1997    220
2001    220
2005    220
2009    220
1986    220
2011    220
1990    220
1994    220
1998    220
2002    220
2006    220
2010    220
2014    220
1991    220
1995    220
1999    220
2003    220
2007    220
1988    220
1987    219
Name: year, dtype: int64

# Prepearing the dataset for processing

In [4]:
#Get the names of movies with no budget and format the string for a URL
noBudgetMovies = data[data["budget"]==0][["year","name"]]
noBudgetMovies["name"] = noBudgetMovies["name"].str.replace(" ","_")
noBudgetMovies.head()

    year                    name
25  1986           Short_Circuit
26  1986    The_Name_of_the_Rose
27  1986              Iron_Eagle
32  1986              Betty_Blue
35  1986  The_Karate_Kid_Part_II

### Requesting the missing budget values from Wikipedia API

In [1]:
from bs4 import BeautifulSoup
import requests

def getPage(movieName):
    S = requests.Session()
    URL = "https://en.wikipedia.org/w/api.php"
    PARAMS = {
        "action": "parse",
        "page": movieName,
        "format": "json"
    }
    R = S.get(url=URL, params=PARAMS)
    DATA = R.json()
    return DATA

#Getting the budget value
def getBudget(DATA):
    try:
        soup = BeautifulSoup("<html>"+str(DATA["parse"]["text"]["*"])+"</html>",features="html.parser")
    except:
        return "parseError"
    table = soup.find("table",class_="infobox vevent")

    try:
        thList = table.find_all("th")
        tdList = table.find_all("td")
    except:
        return "redirect"

    budgetIndex = -1
    i=0
    for row in thList:
        if "Budget" in str(row):
            budgetIndex = i
            break
        i += 1

    if budgetIndex == -1:
        return "noBudget"
    
    budget = tdList[budgetIndex].contents
    
    try:
        if len(budget)==1 or len(budget)==2 and "reference" in budget[1]["class"]:
            return tdList[budgetIndex].contents[0]
    except:
        pass
    return budget

In [ ]:
#Sends GET requests to wikipedia API to get the missing budget values
#Takes a long time ~35min
dict = {}

for movieName in noBudgetMovies["name"]:
    pageData = getPage(movieName)
    budget = getBudget(pageData)
    
    if budget=="redirect":
        name = movieName+"_(film)"
        pageData = getPage(name)
        budget = getBudget(pageData)
        if budget=="redirect":
            year = noBudgetMovies[noBudgetMovies["name"]==movieName]["year"].values[0]
            name = movieName+"_("+str(year)+"_film)"
            pageData = getPage(name)
            budget = getBudget(pageData)
            if budget=="redirect":
                dict[movieName] = "redirect. last tried name: "+name
                continue
    if budget=="noBudget":
        dict[movieName] = "noBudget"
        continue
    if budget=="parseError":
        dict[movieName] = "parseError"
        continue
    dict[movieName] = budget

In [ ]:
#DO NOT RUN AGAIN IF YOU ALREADY HAVE RESULTS IN A FILE OR MAKE A BACKUP FIRST, BECAUSE API REQUESTS TAKE A LONG TIME TO GET!!!
#Writing dict to file for further processing. 
with open("wikiResults.txt","w",encoding="utf-8") as file:
    for key, value in dict.items():
        file.write(key+"==="+str(value).replace("\n"," ")+"\n")

### Take the budget values and parse them into floats

In [5]:
#Read the results from the file onto a new dictionary
dictFile = {}
with open("wikiResults.txt","r",encoding="utf-8") as file:
    lines = file.readlines()
for line in lines:
    if line=="":
        continue
    split = line.split("===")
    dictFile[split[0]] = split[1].replace("\n","")

In [6]:
def findNumericDigits(string):
    index = 0
    i =0
    for char in string:
        if char.isnumeric():
            index = i
            break
        i += 1
    return index

def parseBudgetValue(budget):
    currencies = {
        "£": 1.33,
        "€": 1.11,
        "AU$": 0.688
    }
    
    try:
        if "sup" in budget:
            return budget
        if "million" in budget or "Million" in budget:
            row = budget.split(" ")
            firstNr = findNumericDigits(row[0])
            value = budget[:firstNr]+str(float(row[0][firstNr:])*1000000)
        elif ","in budget:
            value = budget.replace(",","")
        else:
            value = budget

        if value[0] == "$":
            return float(value[1:])
        elif value[:3] == "US$":
            return float(value[3:])
        elif value[0] == "£":
            return float(value[1:])*currencies["£"]
        elif value[0] == "€":
            return float(value[1:])*currencies["€"]
        elif value[:3] == "AU$":
            return float(value[3:])*currencies["AU$"]
        elif value[:2] == "A$":
            return float(value[2:])*currencies["AU$"]
        else:
            return budget
    except:
        return budget

In [13]:
#Parse the value into a float
for key, value in dictFile.items():
    dictFile[key] = parseBudgetValue(value)

In [12]:
#Manual fixing of remaining errors
errors = ["noBudget","parseError","redirect"]
moviesWithErrors = []
for key, value in dictFile.items():
    if type(value)!= float and value not in errors:
        moviesWithErrors.append(key)
        print(key,value)
        budget = input("Enter new budget value: ")
        if budget == "":
            continue
        dictFile[key] = budget

Summer redirect. last tried name: Summer_(1986_film)
Enter new budget value:
Link Unknown
Enter new budget value:
Kangaroo redirect. last tried name: Kangaroo_(1986_film)
Enter new budget value:
Wings_of_Desire ['5 million ', <a href="/wiki/Deutsche_Mark" title="Deutsche Mark">DM</a>, <sup class="reference" id="cite_ref-FOOTNOTELüdiLüdi200060_3-0"><a href="#cite_note-FOOTNOTELüdiLüdi200060-3">[3]</a></sup>]
Enter new budget value: 5 million Deutsche_Mark
Who's_That_Girl $17–20 million ($37.49 million in 2018)
Enter new budget value: $18.5 million
Wanted:_Dead_or_Alive $4,500,000 (US)
Enter new budget value: $4,500,000
Wisdom ['$6.5 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <sup class="reference" id="cite_ref-globe_3-0"><a href="#cite_note-globe-3">[3]</a></sup>]
Enter new budget value: $6.5 million
The_Allnighter approx $1 million
Enter new budget value: $1 million
The_Bedroom_Window ['$8.3 million', <sup class="reference" id="cite_ref-curtis_1-0"><a href="#cite_note-curtis-1">[1]</a></sup>, <sup class="reference" id="cite_ref-dino_2-0"><a href="#cite_note-dino-2">[2]</a></sup>]
Enter new budget value: $8.3 million
Anguish $2,000,000 (estimated)
Enter new budget value: $2,000,000
From_the_Hip ['$9 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, ' or $7.5 million', <sup class="reference" id="cite_ref-dino_2-0"><a href="#cite_note-dino-2">[2]</a></sup>]
Enter new budget value: $9 million
Crazy_Love redirect. last tried name: Crazy_Love_(1987_film)
Enter new budget value:
Akira [<span style="white-space: nowrap"><a href="/wiki/Japanese_yen" title="Japanese yen">¥</a>1.1 billion</span>, <sup class="reference" id="cite_ref-empire_1-0"><a href="#cite_note-empire-1">[1]</a></sup>, ' (', <span style="white-space: nowrap">$9 million</span>, ')', <sup class="reference" id="cite_ref-currency_2-0"><a href="#cite_note-currency-2">[2]</a></sup>]
Enter new budget value: $9 million
The_Big_Blue [<a href="/wiki/French_franc" title="French franc">FRF</a>, ' 80 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, <br/>, '(', <i>est.</i>, ' ', <a href="/wiki/United_States_dollar" title="United States dollar">USD$</a>, '13.5 million)']
Enter new budget value: $13.5 million
Messenger_of_Death unknown
Enter new budget value:
Salome's_Last_Dance ['$800,000', <sup class="reference" id="cite_ref-Ireland_1-0"><a href="#cite_note-Ireland-1">[1]</a></sup>, ' or $1.4 million', <sup class="reference" id="cite_ref-irish_2-0"><a href="#cite_note-irish-2">[2]</a></sup>, ' ', <sup class="reference" id="cite_ref-star_3-0"><a href="#cite_note-star-3">[3]</a></sup>]
Enter new budget value: $800,000
The_Deceivers ['$5-6 million', <sup class="reference" id="cite_ref-NYTimes_1-0"><a href="#cite_note-NYTimes-1">[1]</a></sup>, <sup class="reference" id="cite_ref-LATimes_2-0"><a href="#cite_note-LATimes-2">[2]</a></sup>]
Enter new budget value: $5 million
Field_of_Dreams ['$15 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>]
Enter new budget value: $15 million
The_War_of_the_Roses $26 million
Enter new budget value: $26 million
Blue_Steel redirect. last tried name: Blue_Steel_(1989_film)
Enter new budget value:
Great_Balls_of_Fire! $16-18 million
Enter new budget value: $17 million
Scandal $3 million
Enter new budget value: $3 million
Kinjite:_Forbidden_Subjects Unknown
Enter new budget value:
Dead_Bang $14.5–$15 million
Enter new budget value: $14.5 million
Jesus_of_Montreal ['French', <br/>, 'English']
Enter new budget value: $4.2 million
Wired ['$13 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>]
Enter new budget value: $13 million
Lord_of_the_Flies ['$9 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>]
Enter new budget value: $9 million
La_Femme_Nikita 39 million F
Enter new budget value:
Revenge ['$20 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (October 2014)">citation needed</span></a></i>]</sup>]
Enter new budget value: $20 million
The_Field IR£5 million
Enter new budget value:
Narrow_Margin $15–20 million
Enter new budget value: $17.5 million
Madhouse Unknown
Enter new budget value:
The_Commitments ['$12–15 million', <sup class="reference" id="cite_ref-AFINotes_1-3"><a href="#cite_note-AFINotes-1">[1]</a></sup>, <sup class="reference" id="cite_ref-IrishSoul_4-0"><a href="#cite_note-IrishSoul-4">[4]</a></sup>, <sup class="reference" id="cite_ref-ScreeningIreland_5-0"><a href="#cite_note-ScreeningIreland-5">[5]</a></sup>, <sup class="reference" id="cite_ref-Surprise_6-0"><a href="#cite_note-Surprise-6">[6]</a></sup>]
Enter new budget value: $13.5 million
Europa <div class="plainlist"><ul><li style="white-space: nowrap"><a href="/wiki/Danish_krone" title="Danish krone">DKK</a> 28 million</li><li style="white-space: nowrap">(<a href="/wiki/United_States_dollar" title="United States dollar">US$</a>4 million)</li></ul></div>
Enter new budget value: $4 million
The_Adjuster CAD 1,500,000 (estimated)
Enter new budget value: $1,139,021
Beethoven ['$18 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (October 2018)">citation needed</span></a></i>]</sup>]
Enter new budget value: $18 million
The_Crying_Game [<a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '2.3 million']
Enter new budget value: £2.3 million
Man_Bites_Dog [<a href="/wiki/Belgian_franc" title="Belgian franc">BEF</a>, '1 million ', <span style="font-size:85%;">(<a href="/wiki/United_States_dollar" title="United States dollar">USD$</a>33,000)</span>]
Enter new budget value: $33,000
Strictly_Ballroom AUD 3 million
Enter new budget value: AU$3 million
Aces:_Iron_Eagle_III $10-12 million
Enter new budget value: $11 million
Brain_Donors Unknown
Enter new budget value:
The_Best_Intentions [<a href="/wiki/Swedish_krona" title="Swedish krona">kr</a>, ' 67 million', <sup class="reference" id="cite_ref-Elley_3-0"><a href="#cite_note-Elley-3">[3]</a></sup>]
Enter new budget value: $7,128,872
My_Life $15-20 million
Enter new budget value: $17.5 million
The_Advocate redirect. last tried name: The_Advocate_(1993_film)
Enter new budget value:
Bad_Girls $25-35 million
Enter new budget value: $30 million
Chasers ['$15 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (April 2018)">citation needed</span></a></i>]</sup>]
Enter new budget value: $15 million
Ashes_of_Time Hong Kong
Enter new budget value: US$1,912,490
Speechless ['$30 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (August 2019)">citation needed</span></a></i>]</sup>]
Enter new budget value: $30 million
The_Horseman_on_the_Roof $26,8 million
Enter new budget value: $26.8 million
Pusher 6.000.000 DKK
Enter new budget value: $892,764
House_Arrest ['$5 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (May 2014)">citation needed</span></a></i>]</sup>]
Enter new budget value: $5 million
Moll_Flanders [<a href="/wiki/United_States_dollar" title="United States dollar">US$</a>, '16 million']
Enter new budget value: $16 million

Princess_Mononoke Japan
Enter new budget value: $23.5 million
Perfect_Blue [<span style="white-space: nowrap">¥90 million</span>, <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, ' (', <span style="white-space: nowrap">$6,875,200</span>, ')', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>]
Enter new budget value: $6,875,200
Open_Your_Eyes ESP 370 million
Enter new budget value:
The_Castle redirect. last tried name: The_Castle_(1997_film)
Enter new budget value:
Fireworks redirect. last tried name: Fireworks_(1997_film)
Enter new budget value: $2.3 million
Murder_at_1600 $40-50 million
Enter new budget value: $45 million
Lock,_Stock_and_Two_Smoking_Barrels <div class="plainlist"> <ul><li><a href="/wiki/Pound_sterling" title="Pound sterling">£</a>800,000</li> <li>(<a href="/wiki/United_States_dollar" title="United States dollar">$</a>1.35 million)</li></ul> </div>
Enter new budget value: $1.35 million
Show_Me_Love [<a href="/wiki/Swedish_krona" title="Swedish krona">SEK</a>, ' 9,000,000']
Enter new budget value: $957,609
Taxi $8.7 million
Enter new budget value: $8.7 million
Kuch_Kuch_Hota_Hai [<span style="white-space: nowrap">₹</span>, '140 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>]
Enter new budget value: $1,980,492
Rudolph_the_Red-Nosed_Reindeer redirect. last tried name: Rudolph_the_Red-Nosed_Reindeer_(1998_film)
Enter new budget value: $10 million
All_About_My_Mother ['600 million ', <a href="/wiki/Spanish_peseta" title="Spanish peseta">pesetas</a>, ' ($4,989,091)']
Enter new budget value: $4,989,091
East_Is_East £1.9 million
Enter new budget value: £1.9 million
Code_Unknown [<a href="/wiki/French_language" title="French language">French</a>, <br/>, <a class="mw-redirect" href="/wiki/Maninka" title="Maninka">Maninka</a>, <br/>, <a href="/wiki/Romanian_language" title="Romanian language">Romanian</a>, <br/>, <a href="/wiki/German_language" title="German language">German</a>, <br/>, 'English', <br/>, <a href="/wiki/Arabic" title="Arabic">Arabic</a>, <br/>, <a href="/wiki/French_Sign_Language" title="French Sign Language">French Sign Language</a>]
Enter new budget value: $7.3 million
Together ['17,000,000 ', <a href="/wiki/Swedish_krona" title="Swedish krona">SEK</a>]
Enter new budget value: $1,808,818
Hey_Ram [<span class="nowrap"><span style="white-space: nowrap">₹</span>6 crore</span>, ' (equivalent to ', <span style="white-space: nowrap">₹</span>, '19\xa0crore or US$2.7\xa0million in 2018)', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>]
Enter new budget value:
Kaho_Naa..._Pyaar_Hai [<abbr title="estimation">est.</abbr>, ' ', <span style="white-space: nowrap">₹10 <a href="/wiki/Crore" title="Crore">crore</a></span>, <sup class="reference" id="cite_ref-boi_1-0"><a href="#cite_note-boi-1">[1]</a></sup>]
Enter new budget value:
Devils_on_the_Doorstep [<a class="mw-redirect" href="/wiki/US_dollar" title="US dollar">US$</a>, '3.9 million', <sup class="reference" id="cite_ref-budget1_1-0"><a href="#cite_note-budget1-1">[1]</a></sup>, <br/>, 'US$2.6 million', <sup class="reference" id="cite_ref-budget2_2-0"><a href="#cite_note-budget2-2">[2]</a></sup>]
Enter new budget value: US$2.6 million
The_Claim $20,000,000 (estimated)
Enter new budget value: $20,000,000
Kabhi_Khushi_Kabhie_Gham... <span style="white-space: nowrap">₹400 million</span>
Enter new budget value:
Dil_Chahta_Hai [<span style="white-space: nowrap">₹</span>, '140 million', <sup class="reference" id="cite_ref-Budget_and_BO_1-0"><a href="#cite_note-Budget_and_BO-1">[1]</a></sup>]
Enter new budget value:
Invincible redirect. last tried name: Invincible_(2001_film)
Enter new budget value:
Atanarjuat:_The_Fast_Runner [<a href="/wiki/Canadian_dollar" title="Canadian dollar">CA$</a>, '1,960,000 (est.)']
Enter new budget value: $1,488,321
Irreversible redirect. last tried name: Irreversible_(2002_film)
Enter new budget value: €4.6 million
Bend_It_Like_Beckham [<a href="/wiki/United_States_dollar" title="United States dollar">$</a>, '6\xa0million (', <a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '3.7\xa0million)']
Enter new budget value: $6 million
Russian_Ark ~$2,500,000
Enter new budget value: $2,500,000
Devdas redirect. last tried name: Devdas_(2002_film)
Enter new budget value:
8_Women ['€8.5 million', <sup class="reference" id="cite_ref-jpbo_2-0"><a href="#cite_note-jpbo-2">[2]</a></sup>, <br/>, '($7.5 million)']
Enter new budget value: €8.5 million
The_Eye ['Hong Kong', <br/>, 'Singapore', <sup class="reference" id="cite_ref-hkarchive_1-0"><a href="#cite_note-hkarchive-1">[1]</a></sup>]
Enter new budget value:
High_Tension France
Enter new budget value: $2.5 million
The_Return below US$500,000
Enter new budget value: US$500,000
Chasing_Papi $9,000,000 USD
Enter new budget value: $9,000,000
Young_Adam ['£4 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, <sup class="reference" id="cite_ref-Mojo_2-0"><a href="#cite_note-Mojo-2">[2]</a></sup>, <br/>, '($6.4 million)']
Enter new budget value: £4 million
Kal_Ho_Naa_Ho [<a href="/wiki/Indian_rupee_sign" title="Indian rupee sign"><span style="white-space: nowrap">₹</span></a>, '280\xa0million.', <sup class="reference" id="cite_ref-Kal_Ho_Naa_Ho_BOI_1-1"><a href="#cite_note-Kal_Ho_Naa_Ho_BOI-1">[1]</a></sup>, <sup class="reference" id="cite_ref-exchange2003_3-0"><a href="#cite_note-exchange2003-3">[a]</a></sup>]
Enter new budget value:
Time_of_the_Wolf ['€8.82 million', <sup class="reference" id="cite_ref-jpbo_2-0"><a href="#cite_note-jpbo-2">[2]</a></sup>, <br/>, '($10 million)']
Enter new budget value: $10 million
Undead [<a class="mw-redirect" href="/wiki/AUD" title="AUD">A$</a>, '1 million', <sup class="reference" id="cite_ref-numbers_1-0"><a href="#cite_note-numbers-1">[1]</a></sup>, <br/>, '(US$0.75 million)']
Enter new budget value: US$0.75 million
The_Barbarian_Invasions ['French', <br/>, 'English']
Enter new budget value: US$5 million
Koi..._Mil_Gaya [<span style="white-space: nowrap">₹</span>, '30 crore', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>]
Enter new budget value:
Pride_and_Prejudice redirect. last tried name: Pride_and_Prejudice_(2003_film)
Enter new budget value: $350,000
Downfall ['€13.5 million', <sup class="reference" id="cite_ref-Spiegel_6-0"><a href="#cite_note-Spiegel-6">[6]</a></sup>, ' (approx. $15 million)']
Enter new budget value: $15 million
9_Songs £1 million
Enter new budget value: £1 million
The_Motorcycle_Diaries N/A
Enter new budget value:
House_of_Flying_Daggers <div class="plainlist"> <ul><li>China</li> <li>Hong Kong</li></ul> </div>
Enter new budget value: $12 million
My_Summer_of_Love ['£1 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (March 2010)">citation needed</span></a></i>]</sup>]
Enter new budget value: £1 million
Ghost_in_the_Shell_2:_Innocence [<a class="mw-redirect" href="/wiki/USD" title="USD">$</a>, '20 million', <sup class="reference" id="cite_ref-www.nt2099.com_2-0"><a href="#cite_note-www.nt2099.com-2">[2]</a></sup>]
Enter new budget value: $20 million
Black_Friday redirect. last tried name: Black_Friday_(2004_film)
Enter new budget value: US$940,000
As_It_Is_in_Heaven [<a href="/wiki/Swedish_krona" title="Swedish krona">SEK</a>, ' 25,000,000 ≈  ', <br/>, ' US$3,700,000']
Enter new budget value: US$3,700,000
Swades [<span class="nowrap"><span style="white-space: nowrap">₹</span>21 crore</span>, ' (US$3.0\xa0million)', <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>]
Enter new budget value: US$3 million
Revolver [<a class="mw-redirect" href="/wiki/British_pound" title="British pound">£</a>, '14', <sup class="reference" id="cite_ref-cm_1-0"><a href="#cite_note-cm-1">[1]</a></sup>, ' / ', <a href="/wiki/Euro" title="Euro">€</a>, '20', <sup class="reference" id="cite_ref-jpb_2-0"><a href="#cite_note-jpb-2">[2]</a></sup>, ' / ', <a class="mw-redirect" href="/wiki/US_dollar" title="US dollar">$</a>, '27 million', <sup class="reference" id="cite_ref-cm_1-1"><a href="#cite_note-cm-1">[1]</a></sup>]

Enter new budget value: $27 million
Lady_Vengeance South Korea
Enter new budget value: $4.5 million
London redirect. last tried name: London_(2005_film)
Enter new budget value:
Idiocracy $2–4 million
Enter new budget value: $3 million
The_Host South Korea
Enter new budget value: US$11 million
Tenacious_D_in_The_Pick_of_Destiny ['$19-20 million', <sup class="reference" id="cite_ref-nyt_1-0"><a href="#cite_note-nyt-1">[1]</a></sup>, <sup class="reference" id="cite_ref-mojo_2-0"><a href="#cite_note-mojo-2">[2]</a></sup>]
Enter new budget value: $19.5 million
Rang_De_Basanti [<span style="white-space: nowrap">₹</span>, '280', <span class="nowrap"> </span>, 'million', <sup class="reference" id="cite_ref-boxofficeindia.com_1-0"><a href="#cite_note-boxofficeindia.com-1">[1]</a></sup>]
Enter new budget value:
The_Wind_That_Shakes_the_Barley ['€6.5 million', <sup class="reference" id="cite_ref-element_2-4"><a href="#cite_note-element-2">[2]</a></sup>, <sup class="reference" id="cite_ref-numbers_3-0"><a href="#cite_note-numbers-3">[3]</a></sup>, <br/>, '($8.3 million)']
Enter new budget value: $8.3 million
Taxidermia [<a href="/wiki/Hungarian_forint" title="Hungarian forint">HUF</a>, ' 500 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <br/>, '(', <span style="white-space: nowrap">US$</span>, '2.4 million)']
Enter new budget value: $2.4 million
Akeelah_and_the_Bee ['$6–8 million', <sup class="reference" id="cite_ref-ppgaz_4-0"><a href="#cite_note-ppgaz-4">[3]</a></sup>, <sup class="reference" id="cite_ref-box_5-0"><a href="#cite_note-box-5">[4]</a></sup>]
Enter new budget value: $7 million
Hot_Fuzz [<span style="white-space: nowrap">US$</span>, '12–16 million', <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>, <sup class="reference" id="cite_ref-Numbers_4-0"><a href="#cite_note-Numbers-4">[4]</a></sup>]
Enter new budget value: $14 million
The_Diving_Bell_and_the_Butterfly $12.8 million
Enter new budget value: $12.8 million
Son_of_Rambow [<a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '4.5 million', <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>]
Enter new budget value: £4.5 million
The_Visitor redirect. last tried name: The_Visitor_(2007_film)
Enter new budget value:
Donkey_Punch [<a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '1 million', <sup class="reference" id="cite_ref-washingtoncitypaperinterview_2-0"><a href="#cite_note-washingtoncitypaperinterview-2">[2]</a></sup>, <sup class="reference" id="cite_ref-eyeforfilminterview_3-0"><a href="#cite_note-eyeforfilminterview-3">[3]</a></sup>]
Enter new budget value: £1 million
3_Idiots [<span style="white-space: nowrap">₹</span>, '55 ', <a href="/wiki/Crore" title="Crore">crore</a>, <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <sup class="reference" id="cite_ref-exchange_3-0"><a href="#cite_note-exchange-3">[3]</a></sup>]
Enter new budget value:
An_Education $7.5 million
Enter new budget value: $7.5 million
Spread ['$4,789,700', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (August 2015)">citation needed</span></a></i>]</sup>]
Enter new budget value: $4,789,700
About_Elly $1،350،000
Enter new budget value: $1350000
The_White_Ribbon [<span style="white-space: nowrap">US$</span>, '18 million', <sup class="reference" id="cite_ref-mojo_3-0"><a href="#cite_note-mojo-3">[3]</a></sup>]
Enter new budget value: $18 million
Nowhere_Boy [<a href="/wiki/Pound_sterling" title="Pound sterling">₤</a>, '1.2 million', <sup class="reference" id="cite_ref-grant-bbc_3-0"><a href="#cite_note-grant-bbc-3">[3]</a></sup>, <sup class="reference" id="cite_ref-uk-film-council-funding_4-0"><a href="#cite_note-uk-film-council-funding-4">[4]</a></sup>]
Enter new budget value: £1.2 million
Mystery_Team < $1 million
Enter new budget value: $1 million
Arthur_and_the_Revenge_of_Maltazard [<a href="/wiki/Euro" title="Euro">€</a>, '65 million', <br/>, '(', <a class="mw-redirect" href="/wiki/USD" title="USD">$</a>, '90 million)', <br/>, <small>(shared with <b>Arthur 3</b>)</small>]
Enter new budget value:
I_Saw_the_Devil South Korea
Enter new budget value: US$6 million
Frozen redirect. last tried name: Frozen_(2010_film)
Enter new budget value:
The_Way N/A
Enter new budget value:
Trollhunter ['NOK 19 million', <br/>, <span style="font-size:85%;">($3.5 million)</span>]
Enter new budget value: $3.5 million
Tamara_Drewe £6–8 million
Enter new budget value: £7 million
Ip_Man_2 Hong Kong
Enter new budget value: US$12,902,809
Heartbeats [<a href="/wiki/Canadian_dollar" title="Canadian dollar">CAD$</a>, '600,000 ', <span style="font-size:85%;">(approx. <a href="/wiki/United_States_dollar" title="United States dollar">USD$</a>594,695)</span>]
Enter new budget value: $594,695
Easy_Money [<a href="/wiki/Swedish_krona" title="Swedish krona">SEK</a>, ' 30 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>]
Enter new budget value: $3,192,032
Elite_Squad:_The_Enemy_Within [<a class="mw-redirect" href="/wiki/BRL" title="BRL">R$</a>, ' 16 million', <sup class="reference" id="cite_ref-Globo2_1-0"><a href="#cite_note-Globo2-1">[1]</a></sup>, <br/>, <small>(<a class="mw-redirect" href="/wiki/USD" title="USD">US$</a> 9,509,65)</small>]
Enter new budget value:
The_Trip redirect. last tried name: The_Trip_(2010_film)
Enter new budget value:
In_a_Better_World ['DKK30 million (US$5.5 million', <sup class="reference" id="cite_ref-BOM_2-0"><a href="#cite_note-BOM-2">[2]</a></sup>, ')']
Enter new budget value: US$5.5 million
Guzaarish <span style="white-space: nowrap"><a href="/wiki/Indian_rupee" title="Indian rupee">₹</a>500 million</span>
Enter new budget value:
The_Intouchables [<a href="/wiki/Euro" title="Euro">€</a>, '9.5 million', <br/>, '($10.8 million)']
Enter new budget value: $10.8 million
Headhunters [<a class="mw-redirect" href="/wiki/US_Dollar" title="US Dollar">USD</a>, ' 3,636,887 ', <sup class="reference" id="cite_ref-dagbladet_1-0"><a href="#cite_note-dagbladet-1">[1]</a></sup>]
Enter new budget value: $3,636,887
Weekend [<a class="mw-redirect" href="/wiki/British_pound" title="British pound">£</a>, '120,000']
Enter new budget value: £120,000
Zindagi_Na_Milegi_Dobara [<span class="nowrap"><span style="white-space: nowrap">₹</span>550 million</span>, ' (US$8.0\xa0million)', <sup class="reference" id="cite_ref-znmdbudget_2-0"><a href="#cite_note-znmdbudget-2">[2]</a></sup>]
Enter new budget value: US$8.0 million
The_Hunter redirect. last tried name: The_Hunter_(2011_film)
Enter new budget value:
Rust_and_Bone ['€15.4 million', <br/>, '(', <a href="/wiki/United_States_dollar" title="United States dollar">$</a>, '20 million)']
Enter new budget value: $20 million
Byzantium [<a href="/wiki/Euro" title="Euro">€</a>, '8 million', <sup class="reference" id="cite_ref-4"><a href="#cite_note-4">[4]</a></sup>]
Enter new budget value: €8 million
John_Dies_at_the_End Less than $1 million
Enter new budget value: $1 million
The_Sweeney <a href="/wiki/ITV_(TV_network)" title="ITV (TV network)">ITV</a>
Enter new budget value: £3 million
Kahaani <span style="white-space: nowrap"><a href="/wiki/Indian_rupee" title="Indian rupee">₹</a>80 million</span>
Enter new budget value:
If_I_Were_You redirect. last tried name: If_I_Were_You_(2012_film)
Enter new budget value:
Lore [<a href="/wiki/Euro" title="Euro">EUR €</a>, '4.3 million']
Enter new budget value: €4.3 million
The_Reluctant_Fundamentalist ['$15\xa0million', <sup class="reference" id="cite_ref-New_York_Times_budget_3-0"><a href="#cite_note-New_York_Times_budget-3">[3]</a></sup>, <sup class="reference" id="cite_ref-film_budget_4-0"><a href="#cite_note-film_budget-4">[4]</a></sup>]
Enter new budget value: $15 million
Dracula_3D [<a href="/wiki/Euro" title="Euro">€</a>, '5.6 million', <br/>, '(', <a href="/wiki/United_States_dollar" title="United States dollar">USD$</a>, '7.7 million)']
Enter new budget value: $7.7 million
English_Vinglish [<span style="white-space: nowrap">₹26 <a href="/wiki/Crore" title="Crore">crore</a></span>, <sup class="reference" id="cite_ref-BOI_finances_2-0"><a href="#cite_note-BOI_finances-2">[2]</a></sup>, <sup class="noprint Inline-Template noprint noexcerpt Template-Fact" style="white-space:nowrap;">[<i><a class="mw-redirect" href="/wiki/Wikipedia:NOTRS" title="Wikipedia:NOTRS"><span title="BOI includes print and advertising fees, which are never factored into production budgets. (November 2019)">better source needed</span></a></i>]</sup>]

Enter new budget value:
A_Hijacking ['DKK 15 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, ' (approx. $2.6 million)']
Enter new budget value: $2.6 million
Short_Term_12 under $1 million
Enter new budget value: $1 million
Europa_Report Less than $10 million
Enter new budget value: $10 million
Austenland [<a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '4.9 million', <br/>, '(', <a href="/wiki/United_States_dollar" title="United States dollar">$</a>, '7.6 million)']
Enter new budget value: $7.6 million
In_a_World... Less than $1 million
Enter new budget value: $1 million
The_Tale_of_the_Princess_Kaguya Japan
Enter new budget value: $49 million
Jimi:_All_Is_by_My_Side ['$5 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, <sup class="reference" id="cite_ref-TN_2-0"><a href="#cite_note-TN-2">[2]</a></sup>]
Enter new budget value: $5 million
The_Congress ['€8 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (July 2014)">citation needed</span></a></i>]</sup>]
Enter new budget value: €8 million
PK [<span style="white-space: nowrap"><a href="/wiki/Indian_rupee" title="Indian rupee">₹</a></span>, '85', <span class="nowrap"> </span>, 'crore', <sup class="reference" id="cite_ref-7"><a href="#cite_note-7">[a]</a></sup>]
Enter new budget value:
Leviathan ['220 million ', <a href="/wiki/Russian_ruble" title="Russian ruble">RUB</a>]
Enter new budget value:
'71 [<a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '8.1 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>]
Enter new budget value: £8.1 million
Two_Days,_One_Night [<a href="/wiki/Euro" title="Euro">€</a>, '7 million']
Enter new budget value: €7 million
Big_Game [<a href="/wiki/Euro" title="Euro">€</a>, '8.5 million', <sup class="reference" id="cite_ref-yle_2014_2-0"><a href="#cite_note-yle_2014-2">[2]</a></sup>, <br/>, '(', <a href="/wiki/United_States_dollar" title="United States dollar">$</a>, '10 million)']
Enter new budget value: $10 million
In_Order_of_Disappearance [<a href="/wiki/Norwegian_krone" title="Norwegian krone">kr</a>, '30 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>]
Enter new budget value: $3,324,015
The_Tribe [<a class="mw-redirect" href="/wiki/Hryvnia" title="Hryvnia">₴</a>, ' 14 mln.', <sup class="reference" id="cite_ref-VZ_2-0"><a href="#cite_note-VZ-2">[2]</a></sup>, ' ', <small>(<a class="mw-redirect" href="/wiki/USD" title="USD">$</a> 1.5 mln.<sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>)</small>]
Enter new budget value: $1.5 million
Youth <div class="plainlist"> <ul><li><a href="/wiki/Euro" title="Euro">€</a>12.8 million<sup class="reference" id="cite_ref-jpbo_3-0"><a href="#cite_note-jpbo-3">[3]</a></sup></li> <li>(<a href="/wiki/United_States_dollar" title="United States dollar">$</a>14.4 million)</li></ul> </div>
Enter new budget value: €12.8 million
Far_from_the_Madding_Crowd [<a href="/wiki/Pound_sign" title="Pound sign">£</a>, '12 million', <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>]
Enter new budget value: £12 million
Born_to_Be_Blue less than $10 million
Enter new budget value: $10 million
The_Handmaiden South Korea
Enter new budget value: $8.8 million
Lady_Macbeth [<a class="mw-redirect" href="/wiki/%C2%A3" title="£">£</a>, '500,000', <br/>, '(', <a class="mw-redirect" href="/wiki/USD$" title="USD$">$</a>, '650,000)', <sup class="reference" id="cite_ref-preview_2-0"><a href="#cite_note-preview-2">[2]</a></sup>]
Enter new budget value: $650,000
Dangal [<span style="white-space: nowrap"><a href="/wiki/Indian_rupee" title="Indian rupee">₹</a></span>, '70', <span class="nowrap"> </span>, <a href="/wiki/Crore" title="Crore">crore</a>, <sup class="reference" id="cite_ref-budget_3-0"><a href="#cite_note-budget-3">[3]</a></sup>]
Enter new budget value:
Hunt_for_the_Wilderpeople [<a href="/wiki/United_States_dollar" title="United States dollar">US$</a>, '2.5 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>]
Enter new budget value: $2.5 million
Toni_Erdmann <div class="plainlist"> <ul><li><a href="/wiki/Euro" title="Euro">€</a>3 million</li> <li>(<a href="/wiki/United_States_dollar" title="United States dollar">USD$</a>3.2 million)</li></ul> </div>
Enter new budget value: $3.2 million
The_Wailing South Korea
Enter new budget value: US$8 million
Lowriders ['$5 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <sup class="reference" id="cite_ref-budget_3-0"><a href="#cite_note-budget-3">[3]</a></sup>]
Enter new budget value: $5 million

In [20]:
#DO NOT RUN AGAIN. THIS HAS MANUALLY INSERTED VALUES IN IT
#Backup the dictFile with the new manually inserted values
with open("manuallyInserted.txt","w",encoding="utf-8") as file:
    for key, value in dictFile.items():
        file.write(key+"==="+str(value).replace("\n"," ")+"\n")

### Add the newfound values into the set

In [46]:
for key, value in dictFile.items():
    if type(value)==float:
        data[data["name"] == key.replace("_"," ")] = data[data["name"] == key.replace("_"," ")].replace(to_replace=0.0,value=value)

### Encoding labels

In [75]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

##strings to numbers
labelEncoder.fit(data['company'])
data['company'] = labelEncoder.transform(data['company'])

labelEncoder.fit(data['country'])
data['country'] = labelEncoder.transform(data['country'])

labelEncoder.fit(data['director'])
data['director'] = labelEncoder.transform(data['director'])

labelEncoder.fit(data['genre'])
data['genre'] = labelEncoder.transform(data['genre'])

labelEncoder.fit(data['name'])
data['name'] = labelEncoder.transform(data['name'])

labelEncoder.fit(data['rating'])
data['rating'] = labelEncoder.transform(data['rating'])

labelEncoder.fit(data['star'])
data['star'] = labelEncoder.transform(data['star'])

labelEncoder.fit(data['writer'])
data['writer'] = labelEncoder.transform(data['writer'])

labelEncoder.fit(data['released'])
data['released'] = labelEncoder.transform(data['released'])


data.head(20)

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,665,54,2192,1,52287414.0,4661,8,39,89,8.1,2454,299174,3716,1986
1,6000000.0,1680,54,1296,4,70136369.0,1821,7,27,103,7.8,1605,264740,1970,1986
2,15000000.0,1680,54,2645,0,179800601.0,6203,6,23,110,6.9,2345,236909,1852,1986
3,18500000.0,2062,54,1066,0,85160248.0,295,8,33,137,8.4,2192,540152,1629,1986
4,9000000.0,2122,54,2123,1,18564613.0,1872,6,36,90,6.9,1139,36636,2549,1986
5,6000000.0,1158,53,1948,6,138530565.0,3903,8,75,120,8.1,369,317585,2988,1986
6,25000000.0,1160,53,1207,1,12729917.0,2883,6,30,101,7.4,528,102879,977,1986
7,6000000.0,768,54,588,6,8551228.0,771,8,51,120,7.8,924,146768,897,1986
8,9000000.0,1680,54,1004,4,40471663.0,3964,7,9,96,6.8,1730,60565,1970,1986
9,15000000.0,1854,54,557,6,40456565.0,5306,8,38,96,7.5,1039,129698,1333,1986
10,8800000.0,1827,2,2033,1,174635000.0,1238,7,45,97,6.5,1856,79465,2252,1986
11,16000000.0,2024,53,2292,0,5900000.0,2306,8,10,116,7.2,424,104860,1408,1986
12,6000000.0,2062,54,612,4,8200000.0,3110,7,14,100,6.8,456,12228,931,1986
13,25000000.0,2062,54,1267,0,11100000.0,686,7,31,99,7.3,1402,101678,1288,1986
14,15000000.0,768,54,1792,5,8620929.0,3196,8,38,120,7.2,2468,54000,3885,1986
15,17000000.0,1752,54,28,6,6734844.0,93,8,8,117,5.9,1693,31798,1137,1986
16,10000000.0,768,54,2447,0,7433663.0,3248,8,34,98,5.4,684,24881,3716,1986
17,25000000.0,1052,54,811,4,38747385.0,3022,7,65,94,6.9,1984,53327,1516,1986
18,2700000.0,1579,54,1845,0,3500000.0,6093,7,60,93,5.9,369,11635,2816,1986
19,35000000.0,2085,54,2699,0,16295774.0,2413,6,36,110,4.6,1434,36020,3749,1986

# Working with the data

In [6]:
labels = data["name"]
movie_data = data.drop(["gross"],1)

X_train, X_test, y_train, y_test = train_test_split(movie_data, labels, test_size = 0.3, random_state = 0)

#predicting
rf = RandomForestClassifier(n_estimators = 200).fit(X_train, y_train)
predictions = rf.predict(X_test)

predictions.tolist()

[4316,
 716,
 3166,
 342,
 6417,
 4325,
 1241,
 2622,
 809,
 1953,
 819,
 2658,
 2407,
 4555,
 1984,
 2582,
 5615,
 5289,
 2832,
 5797,
 5426,
 2784,
 390,
 6255,
 1012,
 1224,
 3718,
 1135,
 1627,
 1890,
 5203,
 215,
 3031,
 3319,
 3495,
 3956,
 1467,
 3583,
 3145,
 5728,
 4962,
 2389,
 4816,
 3401,
 2431,
 5249,
 2637,
 2184,
 1657,
 871,
 5092,
 6383,
 3082,
 405,
 6593,
 1625,
 2781,
 5722,
 3112,
 851,
 3838,
 1627,
 5536,
 740,
 3080,
 1862,
 6499,
 3733,
 6661,
 1264,
 6390,
 6290,
 5648,
 5558,
 809,
 5448,
 342,
 5642,
 4298,
 5524,
 1625,
 797,
 2256,
 2706,
 5536,
 3242,
 5523,
 2450,
 4875,
 1689,
 1533,
 2887,
 1129,
 6083,
 1577,
 6180,
 1613,
 6515,
 4731,
 6639,
 3844,
 5699,
 4456,
 664,
 5358,
 4634,
 2036,
 1618,
 3670,
 5527,
 1728,
 6461,
 1792,
 3249,
 4432,
 6692,
 3892,
 5472,
 3827,
 3851,
 383,
 1657,
 1162,
 4228,
 4957,
 6323,
 4985,
 3465,
 2203,
 5947,
 201,
 1594,
 4204,
 264,
 3431,
 5650,
 4413,
 4110,
 3208,
 53,
 3079,
 3150,
 2674,
 2002,
 3934,
 1781,
 5628,
 5770,
 6655,
 6620,
 6560,
 2075,
 2157,
 4555,
 2366,
 4744,
 1453,
 6126,
 690,
 2083,
 5227,
 2611,
 3239,
 1344,
 2458,
 5223,
 3448,
 6699,
 2649,
 5230,
 3112,
 5332,
 5630,
 1553,
 2755,
 464,
 1053,
 1622,
 4729,
 3921,
 756,
 585,
 4230,
 3764,
 2348,
 6252,
 269,
 2806,
 1093,
 1251,
 2525,
 862,
 296,
 5589,
 3225,
 4952,
 1529,
 3475,
 3564,
 4735,
 1438,
 3885,
 3367,
 4396,
 5700,
 3851,
 3330,
 2077,
 960,
 3775,
 3095,
 3985,
 6619,
 2434,
 4325,
 2397,
 6405,
 3027,
 1686,
 4824,
 4015,
 4210,
 5338,
 1596,
 3005,
 2068,
 6329,
 1702,
 3764,
 2274,
 421,
 4387,
 900,
 5683,
 2694,
 2108,
 1889,
 2425,
 2450,
 4934,
 6188,
 5290,
 5317,
 1291,
 3051,
 6444,
 1398,
 276,
 4056,
 4232,
 4158,
 4898,
 2435,
 2751,
 217,
 2975,
 1151,
 1586,
 5630,
 1831,
 3147,
 1779,
 3808,
 1061,
 2381,
 3423,
 3763,
 2897,
 1781,
 2890,
 3839,
 2894,
 5964,
 6429,
 5121,
 4182,
 4841,
 1733,
 2294,
 3856,
 4739,
 960,
 3463,
 2323,
 5271,
 1718,
 4149,
 2270,
 3215,
 2603,
 5463,
 877,
 3398,
 3994,
 3621,
 2789,
 6694,
 5283,
 622,
 2350,
 3543,
 2998,
 5086,
 1080,
 4236,
 5237,
 4714,
 6545,
 5355,
 2700,
 3103,
 445,
 4318,
 33,
 4074,
 5517,
 4946,
 1953,
 1143,
 89,
 2065,
 2685,
 4744,
 1999,
 2307,
 6095,
 3661,
 4973,
 4913,
 51,
 6426,
 980,
 599,
 978,
 2882,
 3647,
 2906,
 3273,
 6060,
 6453,
 3396,
 1141,
 515,
 5786,
 5378,
 1153,
 4140,
 5226,
 4504,
 3166,
 992,
 3519,
 2186,
 3401,
 3866,
 122,
 3276,
 6293,
 3098,
 2397,
 3843,
 6136,
 2243,
 6699,
 2395,
 667,
 356,
 5931,
 1136,
 722,
 1524,
 3817,
 2066,
 4287,
 1902,
 3412,
 843,
 4598,
 1988,
 4926,
 3627,
 2905,
 4746,
 2083,
 1626,
 807,
 1611,
 6213,
 4399,
 2732,
 2075,
 4388,
 3244,
 3088,
 349,
 2400,
 1574,
 4949,
 5860,
 6504,
 3075,
 6640,
 990,
 6011,
 855,
 948,
 95,
 4298,
 1919,
 981,
 2262,
 2338,
 1733,
 2892,
 4023,
 184,
 939,
 3460,
 5795,
 1819,
 916,
 1305,
 6316,
 3909,
 3736,
 6586,
 1368,
 371,
 1667,
 5121,
 2026,
 2996,
 5493,
 1036,
 6094,
 2489,
 3658,
 4533,
 85,
 6064,
 5463,
 2812,
 5736,
 3539,
 1536,
 6441,
 2975,
 3422,
 4074,
 2657,
 1410,
 5503,
 776,
 1200,
 4938,
 1989,
 5202,
 5304,
 5341,
 1104,
 4409,
 5069,
 6084,
 2500,
 721,
 6670,
 5341,
 2369,
 433,
 1213,
 4542,
 4746,
 2763,
 1472,
 1527,
 809,
 1126,
 1295,
 3807,
 5851,
 117,
 1557,
 206,
 2418,
 612,
 6144,
 6308,
 5794,
 2279,
 3658,
 1434,
 5629,
 3024,
 5866,
 3608,
 3276,
 1742,
 5130,
 107,
 2146,
 4950,
 2531,
 3337,
 985,
 5063,
 67,
 4409,
 5699,
 1241,
 1649,
 2293,
 6204,
 3591,
 5977,
 4260,
 3214,
 787,
 5615,
 1782,
 2949,
 5667,
 1733,
 987,
 2687,
 2612,
 1022,
 5030,
 4303,
 2819,
 5841,
 2649,
 6393,
 1249,
 3908,
 448,
 6049,
 2126,
 1292,
 4463,
 1552,
 1675,
 4154,
 2710,
 4625,
 4745,
 6410,
 5754,
 3739,
 4373,
 4571,
 5914,
 1648,
 5917,
 6560,
 3400,
 2758,
 85,
 4770,
 2375,
 4503,
 463,
 4051,
 4180,
 589,
 6517,
 4496,
 1166,
 6696,
 231,
 2424,
 5538,
 3240,
 3116,
 2960,
 6475,
 4431,
 6028,
 5362,
 3980,
 5804,
 1802,
 3882,
 1792,
 201,
 2647,
 5942,
 1999,
 575,
 517,
 3429,
 60,
 2076,
 5627,
 4384,
 1197,
 33,
 5944,
 4145,
 1516,
 2925,
 5604,
 3823,
 1965,
 1850,
 1698,
 1361,
 3907,
 2313,
 1983,
 939,
 6532,
 5084,
 2538,
 5260,
 6392,
 576,
 3066,
 38,
 4647,
 1800,
 6079,
 4334,
 1646,
 6045,
 396,
 2530,
 5362,
 1318,
 5889,
 6052,
 3899,
 6484,
 4555,
 3607,
 2222,
 2455,
 5245,
 5451,
 2437,
 3332,
 6477,
 1820,
 5197,
 148,
 5036,
 3440,
 4302,
 351,
 1883,
 2551,
 6193,
 4882,
 2359,
 1204,
 1141,
 6020,
 2994,
 3165,
 2603,
 3253,
 68,
 2796,
 898,
 2975,
 2119,
 5650,
 5711,
 5354,
 4935,
 3987,
 3278,
 524,
 5031,
 4824,
 5818,
 859,
 2586,
 701,
 2687,
 5232,
 1971,
 937,
 792,
 2895,
 1170,
 1788,
 813,
 6327,
 6630,
 3621,
 2567,
 4998,
 6340,
 686,
 2481,
 2760,
 2732,
 4081,
 2963,
 3852,
 22,
 6209,
 6136,
 2796,
 260,
 436,
 2541,
 3357,
 4952,
 4261,
 6020,
 5753,
 2099,
 667,
 3947,
 2083,
 4393,
 606,
 4437,
 2520,
 2680,
 5988,
 3221,
 4170,
 2207,
 250,
 4935,
 2641,
 6051,
 4374,
 523,
 2400,
 5964,
 3681,
 5215,
 5280,
 1617,
 5780,
 1958,
 4917,
 294,
 5478,
 4016,
 3147,
 4242,
 1345,
 829,
 5160,
 3557,
 5531,
 6565,
 1529,
 1616,
 3741,
 4488,
 1438,
 132,
 3084,
 5608,
 1999,
 1859,
 4873,
 2126,
 400,
 6688,
 2298,
 1343,
 5919,
 568,
 5988,
 3813,
 3977,
 2046,
 3951,
 4496,
 5916,
 2842,
 1226,
 732,
 6306,
 5877,
 2756,
 535,
 5058,
 184,
 5405,
 2206,
 5035,
 2971,
 6169,
 3900,
 6509,
 1842,
 6649,
 3015,
 2582,
 2171,
 5532,
 546,
 2578,
 5102,
 5449,
 5341,
 572,
 2685,
 1191,
 2882,
 6168,
 100,
 142,
 3813,
 4580,
 1343,
 2468,
 2484,
 2283,
 2296,
 3397,
 2516,
 3291,
 1887,
 804,
 2404,
 1200,
 16,
 4577,
 5206,
 3627,
 5711,
 346,
 1971,
 2684,
 909,
 1962,
 3103,
 3384,
 3495,
 42,
 4503,
 2558,
 3066,
 2751,
 3007,
 2546,
 6283,
 862,
 6599,
 6541,
 2175,
 6577,
 2421,
 5802,
 4330,
 5135,
 656,
 2901,
 1883,
 3262,
 155,
 811,
 183,
 3793,
 1829,
 1328,
 2565,
 974,
 4261,
 1773,
 596,
 948,
 6225,
 1858,
 1869,
 1927,
 1655,
 1771,
 3441,
 5055,
 2544,
 1094,
 801,
 1058,
 5572,
 3882,
 4821,
 3492,
 2479,
 4082,
 4004,
 258,
 3173,
 5541,
 3568,
 535,
 2641,
 2026,
 6202,
 3670,
 3146,
 4704,
 541,
 3327,
 3275,
 1401,
 4818,
 953,
 5922,
 3080,
 2262,
 5361,
 4310,
 4593,
 2329,
 258,
 2109,
 560,
 2469,
 914,
 4198,
 2876,
 377,
 4158,
 257,
 1501,
 3285,
 4253,
 2305,
 4189,
 1853,
 82,
 801,
 49,
 4930,
 5746,
 983,
 574,
 6022,
 718,
 5992,
 484,
 3918,
 440,
 1877,
 2306,
 3585,
 1533,
 2649,
 5193,
 4097,
 4720,
 2193,
 5801,
 4463,
 3518,
 5900,
 4529,
 2795,
 5163,
 4866,
 785,
 5292,
 379,
 3258,
 805,
 817,
 4374,
 3024,
 1414,
 5068,
 1678,
 622,
 2968,
 3061,
 2951,
 4038,
 2252,
 4297,
 3471,
 246,
 2622,
 4566,
 6079,
 4691,
 3619,
 6190,
 4018,
 6647,
 1326,
 6692,
 5436,
 6026,
 138,
 1887,
 1756,
 2313,
 340,
 1486,
 454,
 5637,
 4325,
 ...]

In [7]:
X_test["gross"] = predictions

C:\Users\Silver\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.