In [2]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv("movies.csv", encoding='latin-1')
data.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986

In [3]:
pd.options.display.float_format = '{:.2f}'.format
#pd.reset_option('^display.', silent=True)

In [4]:
#Data understanding
for column in data.columns:
    print(data[column].value_counts())

0.00            2182
20000000.00      207
30000000.00      191
25000000.00      177
15000000.00      170
10000000.00      155
40000000.00      150
35000000.00      149
50000000.00      115
5000000.00       113
60000000.00      107
12000000.00      102
6000000.00        90
8000000.00        88
18000000.00       88
13000000.00       76
7000000.00        73
3000000.00        73
45000000.00       72
17000000.00       65
80000000.00       65
70000000.00       65
11000000.00       62
16000000.00       60
14000000.00       58
22000000.00       57
4000000.00        55
75000000.00       54
55000000.00       54
100000000.00      49
                ...
260000000.00       1
8900000.00         1
12800000.00        1
10920000.00        1
63600000.00        1
9200000.00         1
65000.00           1
126000000.00       1
29750000.00        1
17700000.00        1
176000000.00       1
169000.00          1
26350000.00        1
5600000.00         1
230000000.00       1
144000000.00       1
11800000.00        1
950000.00          1
2309723.00         1
175000.00          1
30000.00           1
5300000.00         1
25500000.00        1
8200000.00         1
13300000.00        1
29000001.00        1
128000000.00       1
24500000.00        1
300000.00          1
5800000.00         1
Name: budget, Length: 351, dtype: int64
Universal Pictures                        302
Warner Bros.                              294
Paramount Pictures                        259
Twentieth Century Fox Film Corporation    205
New Line Cinema                           172
Columbia Pictures Corporation             166
Touchstone Pictures                       131
Columbia Pictures                         108
Walt Disney Pictures                      102
Metro-Goldwyn-Mayer (MGM)                 101
TriStar Pictures                           85
Miramax                                    77
DreamWorks                                 76
Castle Rock Entertainment                  62
Fox 2000 Pictures                          58
Dimension Films                            57
Fox Searchlight Pictures                   57
Hollywood Pictures                         52
Screen Gems                                46
Lionsgate                                  44
Orion Pictures                             40
Summit Entertainment                       38
Focus Features                             38
Morgan Creek Productions                   37
Regency Enterprises                        33
Revolution Studios                         33
The Weinstein Company                      29
EuropaCorp                                 28
Channel Four Films                         27
United Artists                             27
                                         ...
Magic Light Pictures                        1
Communicado Productions                     1
Conquest Productions                        1
Upside Down Films                           1
Hurwitz Creative                            1
Cruella Productions                         1
Head Gear Films                             1
NDF International                           1
Blockbuster Films                           1
Hermetof Pictures                           1
Varient                                     1
Pan Européenne                              1
KB Erik the Viking                          1
Historias Cinematograficas Cinemania        1
Levins-Henenlotter                          1
Kim Ki-Duk Film                             1
BN Films                                    1
Cinema Line Film Corporation                1
Gamechanger Films                           1
Joe Wizan/Todd Black                        1
Rimfire Films                               1
State Hermitage Museum, The                 1
Propaganda Films                            1
Blackwater Films                            1
PalmStar Media                              1
Ad Hominem Enterprises                      1
Media Asia Films                            1
Flashlight Films                            1
Paradox                                     1
Next Entertainment World                    1
Name: company, Length: 2179, dtype: int64
USA                               4872
UK                                 698
France                             283
Canada                             150
Germany                            134
Australia                           82
Japan                               68
Spain                               56
Italy                               51
Ireland                             44
India                               39
Hong Kong                           39
Denmark                             33
China                               24
South Korea                         20
New Zealand                         18
Belgium                             18
Sweden                              18
Mexico                              15
Argentina                           13
Netherlands                         12
Iran                                12
Russia                              10
South Africa                         9
Norway                               8
Taiwan                               8
Czech Republic                       8
Hungary                              7
Switzerland                          6
Austria                              6
Brazil                               6
Israel                               5
Greece                               5
Romania                              5
Chile                                4
West Germany                         4
Thailand                             3
Finland                              3
Poland                               2
Peru                                 2
Portugal                             2
Indonesia                            2
Colombia                             2
Jamaica                              1
Federal Republic of Yugoslavia       1
Ukraine                              1
Aruba                                1
Kenya                                1
Malta                                1
Cuba                                 1
Republic of Macedonia                1
Saudi Arabia                         1
Bahamas                              1
Soviet Union                         1
Palestine                            1
Panama                               1
Iceland                              1
Name: country, dtype: int64
Woody Allen           33
Clint Eastwood        24
Steven Spielberg      21
Steven Soderbergh     21
Ron Howard            20
Ridley Scott          19
Joel Schumacher       19
Barry Levinson        18
Spike Lee             18
Stephen Frears        17
Tim Burton            17
Oliver Stone          17
Richard Linklater     17
Bruce Beresford       16
Chris Columbus        15
Martin Scorsese       15
Rob Reiner            15
Garry Marshall        15
Renny Harlin          15
Tony Scott            15
Wes Craven            14
Pedro Almodóvar       14
Dennis Dugan          14
Robert Zemeckis       14
Robert Rodriguez      13
Neil Jordan           13
Ang Lee               13
Gus Van Sant          13
Roger Donaldson       13
Michael Apted         13
                      ..
Igor Kovalyov          1
Kevin Williamson       1
Zach Cregger           1
Robert Longo           1
Ciarán Foy             1
Ray Lawrence           1
Reema Kagti            1
Jennifer Flackett      1
Lili Fini Zanuck       1
Sam Fell               1
Tim Burstall           1
Jun Falkenstein        1
Nicholaus Goossen      1
Stefen Fangmeier       1
Eric Schaeffer         1
Kevin Heffernan        1
Moshé Mizrahi          1
Jerry Zaks             1
Camilo Vila            1
David Drury            1
Ruairi Robinson        1
Alan Rickman           1
Allan Burns            1
Gary Goddard           1
Michael J. Bassett     1
Chad Stahelski         1
Nitesh Tiwari          1
Susannah Grant         1
Louis C.K.             1
Kyle Newman            1
Name: director, Length: 2759, dtype: int64
Comedy       2080
Drama        1444
Action       1331
Crime         522
Adventure     392
Biography     359
Animation     277
Horror        277
Mystery        38
Fantasy        32
Thriller       18
Romance        15
Family         14
Sci-Fi         13
Musical         4
Western         2
War             2
Name: genre, dtype: int64
20100000.00     3
3500000.00      3
1200000.00      3
700000.00       2
1500000.00      2
1000000.00      2
1000045.00      2
50000.00        2
119919.00       2
69136.00        2
19281235.00     2
12100000.00     2
300000.00       2
15324.00        2
1100000.00      2
85846429.00     1
2643689.00      1
63270710.00     1
38105077.00     1
40202379.00     1
106954678.00    1
396003.00       1
135645823.00    1
15325127.00     1
857522.00       1
67823573.00     1
1256355.00      1
4370078.00      1
23247539.00     1
109767581.00    1
               ..
349618.00       1
32616869.00     1
26570463.00     1
21848932.00     1
19751736.00     1
5855392.00      1
191164.00       1
32589677.00     1
72708161.00     1
64665672.00     1
7690013.00      1
2086345.00      1
17278980.00     1
40069087.00     1
613556.00       1
551660.00       1
1010414.00      1
17129000.00     1
10400000.00     1
72779000.00     1
2534351.00      1
10137502.00     1
79003080.00     1
1877179.00      1
1168902.00      1
68518533.00     1
20275446.00     1
69117629.00     1
57328603.00     1
2368.00         1
Name: gross, Length: 6802, dtype: int64
Pulse                                    3
Hamlet                                   3
Stalingrad                               2
Black Sheep                              2
Nobody's Fool                            2
Promised Land                            2
Much Ado About Nothing                   2
Mother                                   2
Bad Company                              2
Chocolat                                 2
Fever Pitch                              2
Playing for Keeps                        2
Boiling Point                            2
The Avengers                             2
Frozen                                   2
It Takes Two                             2
The Stepfather                           2
The Rookie                               2
Gladiator                                2
Fearless                                 2
Man on Fire                              2
The Hunted                               2
Project X                                2
Fair Game                                2
It Runs in the Family                    2
Flawless                                 2
Trust                                    2
Jane Eyre                                2
Passengers                               2
Anna Karenina                            2
                                        ..
The Secret Life of Walter Mitty          1
The Imaginarium of Doctor Parnassus      1
Halloween: The Curse of Michael Myers    1
Maria Full of Grace                      1
Identity                                 1
Tower Heist                              1
Around the World in 80 Days              1
The Forest                               1
The Wrestler                             1
Crocodile Dundee                         1
Terminator 3: Rise of the Machines       1
The Mambo Kings                          1
The Monkey's Mask                        1
O Brother, Where Art Thou?               1
X-Men                                    1
The Devil's Own                          1
The Master                               1
Brassed Off                              1
What Women Want                          1
Happy-Go-Lucky                           1
The Money Pit                            1
Kick-Ass 2                               1
Soul Men                                 1
The Invisible Woman                      1
Fright Night                             1
Rocket Gibraltar                         1
The Moderns                              1
Neighbors                                1
The Switch                               1
Showdown in Little Tokyo                 1
Name: name, Length: 6731, dtype: int64
R                3392
PG-13            1995
PG                951
NOT RATED         174
G                 147
UNRATED            71
Not specified      63
NC-17              22
B                   1
TV-PG               1
B15                 1
TV-14               1
TV-MA               1
Name: rating, dtype: int64
1991-10-04    10
1988-10-21     9
2008-09-26     9
1988-11-18     9
2003-11-14     8
2008-12-25     8
2007-10-19     8
1990-03-09     8
2000-10-20     8
2012-04-20     8
1988-03-04     8
2011-03-18     8
2016-10-21     8
1986-08-22     8
1987-11-06     8
1993-02-12     8
2006-10-13     8
1989-01-13     8
1986-11-07     8
2002-10-11     8
1988-05-06     7
2008-04-18     7
1988-03-11     7
1996-03-22     7
1998-06-12     7
1998-04-17     7
2015-01-23     7
2014-04-11     7
1993-10-01     7
2016-11-18     7
              ..
1989-06-16     1
2012-08-22     1
2000-07-26     1
1999-11-27     1
1992-12-23     1
1987-10-14     1
1991-10-30     1
1990-08-22     1
2002-02-28     1
1990-12-15     1
1989-12-23     1
2014-02-12     1
2015-06-12     1
1993-11-17     1
1990-06-29     1
2010-10-29     1
2013-07-31     1
1987-09-16     1
1990-11-08     1
1995-05-10     1
2005-06-29     1
1997-10-01     1
1997-11-24     1
1996-07-24     1
1991-07-10     1
1993-09-09     1
2017-03-15     1
1991-06-28     1
1992-12-16     1
2014-07-17     1
Name: released, Length: 2403, dtype: int64
100    546
97     209
98     200
95     193
101    185
90     181
102    179
96     179
105    175
99     174
93     172
108    165
106    163
104    160
107    158
94     155
91     153
103    147
92     145
110    144
88     127
112    123
109    115
89     114
113    114
111    109
115    106
118    102
114    100
117     93
      ...
183      2
192      2
188      2
191      2
195      2
181      2
177      2
271      1
168      1
176      1
187      1
179      1
175      1
366      1
242      1
238      1
210      1
202      1
194      1
166      1
219      1
50       1
357      1
201      1
193      1
185      1
173      1
280      1
224      1
70       1
Name: runtime, Length: 135, dtype: int64
6.70    304
6.50    284
6.30    284
6.40    283
6.60    273
6.20    270
6.80    258
6.10    256
7.20    244
5.90    241
7.00    240
7.10    233
6.90    228
7.30    226
5.70    221
5.80    212
6.00    210
7.40    180
7.60    177
5.60    173
7.50    169
5.50    154
5.30    146
5.40    140
7.70    136
7.80    132
5.10    100
5.20     90
5.00     82
4.90     80
       ...
8.50     15
3.80     14
8.40     13
3.50     13
3.60     13
3.70     13
8.60     10
3.40      7
2.90      5
2.80      5
2.40      5
8.70      5
3.20      5
3.30      5
8.80      4
2.60      4
2.30      4
2.70      4
8.90      3
2.20      3
2.00      2
3.10      2
1.90      2
9.30      1
3.00      1
9.00      1
1.50      1
1.60      1
2.10      1
2.50      1
Name: score, Length: 75, dtype: int64
Nicolas Cage             42
Robert De Niro           38
Denzel Washington        36
Tom Hanks                35
Bruce Willis             33
Johnny Depp              32
Tom Cruise               27
Ben Stiller              27
Adam Sandler             27
John Cusack              26
Kevin Costner            26
Eddie Murphy             25
Robin Williams           25
Sylvester Stallone       25
John Travolta            25
Keanu Reeves             24
Steve Martin             24
Mark Wahlberg            23
Mel Gibson               23
Matt Damon               22
Ben Affleck              22
Brad Pitt                22
Matthew McConaughey      22
Arnold Schwarzenegger    22
Jim Carrey               22
George Clooney           22
Anthony Hopkins          21
Ethan Hawke              21
Sandra Bullock           21
Jeff Bridges             21
                         ..
Peter Greene              1
Ashley Tisdale            1
Kaya Scodelario           1
James Levine              1
Stéphane Audran           1
Elias McConnell           1
Bernadette Peters         1
Diane Franklin            1
Thomas Haden Church       1
Tchéky Karyo              1
Min-sik Choi              1
Kathryn McCormick         1
Mikko Nousiainen          1
Emily Longstreth          1
Michael Parks             1
Bill Nighy                1
Karl Markovics            1
Vanessa Paradis           1
Bradley Gregg             1
Glen Berry                1
Ned Beatty                1
Matthias Schweighöfer     1
Hugh Dancy                1
Danielle Panabaker        1
Stephen McCole            1
Aimee Teegarden           1
Rebecca Pidgeon           1
Vittorio Duse             1
Eminem                    1
Sarah Bolger              1
Name: star, Length: 2504, dtype: int64
1340      4
2003      4
1959      3
5757      3
1943      3
9141      3
2101      3
2385      3
5807      3
505       3
692       3
1509      3
2180      3
13051     3
2157      3
3075      3
11161     2
105471    2
5354      2
2838      2
973       2
15445     2
8970      2
5119      2
3376      2
9152      2
44133     2
58556     2
1410      2
19380     2
         ..
23326     1
11040     1
35620     1
23334     1
9001      1
10992     1
21231     1
131821    1
125648    1
64186     1
35516     1
4799      1
160451    1
19140     1
37575     1
8905      1
80586     1
717       1
94931     1
8937      1
2772      1
10968     1
58073     1
2780      1
82653     1
39646     1
4831      1
2788      1
213733    1
20482     1
Name: votes, Length: 6512, dtype: int64
Woody Allen             32
Luc Besson              25
Stephen King            22
John Hughes             18
William Shakespeare     14
David Mamet             14
Pedro Almodóvar         13
Tyler Perry             12
Wes Craven              12
Joel Coen               11
Robert Rodriguez        11
Jim Jarmusch            10
Brian Helgeland         10
Kevin Smith             10
John Logan              10
Lars von Trier          10
Ehren Kruger            10
Michael Crichton        10
M. Night Shyamalan      10
Quentin Tarantino       10
Mike Leigh               9
John Grisham             9
Steven Knight            9
Judd Apatow              8
Andrew Niccol            8
Lilly Wachowski          8
Larry Cohen              8
Jane Austen              8
Richard Linklater        8
Leigh Whannell           8
                        ..
Karin Howard             1
Barry Michael Cooper     1
Sydney J. Bounds         1
Harold T.P. Hayes        1
William Douglas-Home     1
Shana Larsen             1
Peter Ettedgui           1
Ki-young Kim             1
Edward Albee             1
Shibani Bathija          1
Larry Brothers           1
Mort Briskin             1
Helena Kriel             1
James Kearns             1
Adam Alleca              1
Eric Bogosian            1
David Magee              1
Jonah Markowitz          1
Don Keith Opper          1
Christopher Frank        1
Piers Paul Read          1
Henry Selick             1
Anonymous                1
Tim Talbott              1
Alfred Uhry              1
Gordon Gordon            1
David Hines              1
Wayne Smith              1
Zach Dean                1
Anne Fine                1
Name: writer, Length: 4199, dtype: int64
1989    221
2015    220
2013    220
1992    220
1996    220
2000    220
2004    220
2008    220
2012    220
2016    220
1993    220
1997    220
2001    220
2005    220
2009    220
1986    220
2011    220
1990    220
1994    220
1998    220
2002    220
2006    220
2010    220
2014    220
1991    220
1995    220
1999    220
2003    220
2007    220
1988    220
1987    219
Name: year, dtype: int64

# Prepearing the dataset for processing

In [5]:
#Get the names of movies with no budget and format the string for a URL
noBudgetMovies = data[data["budget"]==0][["year","name"]]
noBudgetMovies["name"] = noBudgetMovies["name"].str.replace(" ","_")
noBudgetMovies.head()

    year                    name
25  1986           Short_Circuit
26  1986    The_Name_of_the_Rose
27  1986              Iron_Eagle
32  1986              Betty_Blue
35  1986  The_Karate_Kid_Part_II

### Requesting the missing budget values from Wikipedia API

In [6]:
from bs4 import BeautifulSoup
import requests

def getPage(movieName):
    S = requests.Session()
    URL = "https://en.wikipedia.org/w/api.php"
    PARAMS = {
        "action": "parse",
        "page": movieName,
        "format": "json"
    }
    R = S.get(url=URL, params=PARAMS)
    DATA = R.json()
    return DATA

#Getting the budget value
def getBudget(DATA):
    try:
        soup = BeautifulSoup("<html>"+str(DATA["parse"]["text"]["*"])+"</html>",features="html.parser")
    except:
        return "parseError"
    table = soup.find("table",class_="infobox vevent")

    try:
        thList = table.find_all("th")
        tdList = table.find_all("td")
    except:
        return "redirect"

    budgetIndex = -1
    i=0
    for row in thList:
        if "Budget" in str(row):
            budgetIndex = i
            break
        i += 1

    if budgetIndex == -1:
        return "noBudget"
    
    budget = tdList[budgetIndex].contents
    
    try:
        if len(budget)==1 or len(budget)==2 and "reference" in budget[1]["class"]:
            return tdList[budgetIndex].contents[0]
    except:
        pass
    return budget

In [ ]:
#Sends GET requests to wikipedia API to get the missing budget values
#Takes a long time ~35min
dict = {}

for movieName in noBudgetMovies["name"]:
    pageData = getPage(movieName)
    budget = getBudget(pageData)
    
    if budget=="redirect":
        name = movieName+"_(film)"
        pageData = getPage(name)
        budget = getBudget(pageData)
        if budget=="redirect":
            year = noBudgetMovies[noBudgetMovies["name"]==movieName]["year"].values[0]
            name = movieName+"_("+str(year)+"_film)"
            pageData = getPage(name)
            budget = getBudget(pageData)
            if budget=="redirect":
                dict[movieName] = "redirect. last tried name: "+name
                continue
    if budget=="noBudget":
        dict[movieName] = "noBudget"
        continue
    if budget=="parseError":
        dict[movieName] = "parseError"
        continue
    dict[movieName] = budget

In [ ]:
#DO NOT RUN AGAIN IF YOU ALREADY HAVE RESULTS IN A FILE OR MAKE A BACKUP FIRST, BECAUSE API REQUESTS TAKE A LONG TIME TO GET!!!
#Writing dict to file for further processing. 
with open("wikiResults.txt","w",encoding="utf-8") as file:
    for key, value in dict.items():
        file.write(key+"==="+str(value).replace("\n"," ")+"\n")

### Take the budget values and parse them into floats

In [7]:
#Read the results from the file onto a new dictionary
dictFile = {}
with open("wikiResults.txt","r",encoding="utf-8") as file:
    lines = file.readlines()
for line in lines:
    if line=="":
        continue
    split = line.split("===")
    dictFile[split[0]] = split[1].replace("\n","")

In [8]:
def findNumericDigits(string):
    index = 0
    i =0
    for char in string:
        if char.isnumeric():
            index = i
            break
        i += 1
    return index

def parseBudgetValue(budget):
    currencies = {
        "£": 1.33,
        "€": 1.11,
        "AU$": 0.688
    }
    
    try:
        if "sup" in budget:
            return budget
        if "million" in budget or "Million" in budget:
            row = budget.split(" ")
            firstNr = findNumericDigits(row[0])
            value = budget[:firstNr]+str(float(row[0][firstNr:])*1000000)
        elif ","in budget:
            value = budget.replace(",","")
        else:
            value = budget

        if value[0] == "$":
            return float(value[1:])
        elif value[:3] == "US$":
            return float(value[3:])
        elif value[0] == "£":
            return float(value[1:])*currencies["£"]
        elif value[0] == "€":
            return float(value[1:])*currencies["€"]
        elif value[:3] == "AU$":
            return float(value[3:])*currencies["AU$"]
        elif value[:2] == "A$":
            return float(value[2:])*currencies["AU$"]
        else:
            return budget
    except:
        return budget

In [9]:
#Parse the value into a float
for key, value in dictFile.items():
    dictFile[key] = parseBudgetValue(value)

In [12]:
#Manual fixing of remaining errors
errors = ["noBudget","parseError","redirect"]
moviesWithErrors = []
for key, value in dictFile.items():
    if type(value)!= float and value not in errors:
        moviesWithErrors.append(key)
        print(key,value)
        budget = input("Enter new budget value: ")
        if budget == "":
            continue
        dictFile[key] = budget

Summer redirect. last tried name: Summer_(1986_film)
Enter new budget value:
Link Unknown
Enter new budget value:
Kangaroo redirect. last tried name: Kangaroo_(1986_film)
Enter new budget value:
Wings_of_Desire ['5 million ', <a href="/wiki/Deutsche_Mark" title="Deutsche Mark">DM</a>, <sup class="reference" id="cite_ref-FOOTNOTELüdiLüdi200060_3-0"><a href="#cite_note-FOOTNOTELüdiLüdi200060-3">[3]</a></sup>]
Enter new budget value: 5 million Deutsche_Mark
Who's_That_Girl $17–20 million ($37.49 million in 2018)
Enter new budget value: $18.5 million
Wanted:_Dead_or_Alive $4,500,000 (US)
Enter new budget value: $4,500,000
Wisdom ['$6.5 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <sup class="reference" id="cite_ref-globe_3-0"><a href="#cite_note-globe-3">[3]</a></sup>]
Enter new budget value: $6.5 million
The_Allnighter approx $1 million
Enter new budget value: $1 million
The_Bedroom_Window ['$8.3 million', <sup class="reference" id="cite_ref-curtis_1-0"><a href="#cite_note-curtis-1">[1]</a></sup>, <sup class="reference" id="cite_ref-dino_2-0"><a href="#cite_note-dino-2">[2]</a></sup>]
Enter new budget value: $8.3 million
Anguish $2,000,000 (estimated)
Enter new budget value: $2,000,000
From_the_Hip ['$9 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, ' or $7.5 million', <sup class="reference" id="cite_ref-dino_2-0"><a href="#cite_note-dino-2">[2]</a></sup>]
Enter new budget value: $9 million
Crazy_Love redirect. last tried name: Crazy_Love_(1987_film)
Enter new budget value:
Akira [<span style="white-space: nowrap"><a href="/wiki/Japanese_yen" title="Japanese yen">¥</a>1.1 billion</span>, <sup class="reference" id="cite_ref-empire_1-0"><a href="#cite_note-empire-1">[1]</a></sup>, ' (', <span style="white-space: nowrap">$9 million</span>, ')', <sup class="reference" id="cite_ref-currency_2-0"><a href="#cite_note-currency-2">[2]</a></sup>]
Enter new budget value: $9 million
The_Big_Blue [<a href="/wiki/French_franc" title="French franc">FRF</a>, ' 80 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, <br/>, '(', <i>est.</i>, ' ', <a href="/wiki/United_States_dollar" title="United States dollar">USD$</a>, '13.5 million)']
Enter new budget value: $13.5 million
Messenger_of_Death unknown
Enter new budget value:
Salome's_Last_Dance ['$800,000', <sup class="reference" id="cite_ref-Ireland_1-0"><a href="#cite_note-Ireland-1">[1]</a></sup>, ' or $1.4 million', <sup class="reference" id="cite_ref-irish_2-0"><a href="#cite_note-irish-2">[2]</a></sup>, ' ', <sup class="reference" id="cite_ref-star_3-0"><a href="#cite_note-star-3">[3]</a></sup>]
Enter new budget value: $800,000
The_Deceivers ['$5-6 million', <sup class="reference" id="cite_ref-NYTimes_1-0"><a href="#cite_note-NYTimes-1">[1]</a></sup>, <sup class="reference" id="cite_ref-LATimes_2-0"><a href="#cite_note-LATimes-2">[2]</a></sup>]
Enter new budget value: $5 million
Field_of_Dreams ['$15 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>]
Enter new budget value: $15 million
The_War_of_the_Roses $26 million
Enter new budget value: $26 million
Blue_Steel redirect. last tried name: Blue_Steel_(1989_film)
Enter new budget value:
Great_Balls_of_Fire! $16-18 million
Enter new budget value: $17 million
Scandal $3 million
Enter new budget value: $3 million
Kinjite:_Forbidden_Subjects Unknown
Enter new budget value:
Dead_Bang $14.5–$15 million
Enter new budget value: $14.5 million
Jesus_of_Montreal ['French', <br/>, 'English']
Enter new budget value: $4.2 million
Wired ['$13 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>]
Enter new budget value: $13 million
Lord_of_the_Flies ['$9 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>]
Enter new budget value: $9 million
La_Femme_Nikita 39 million F
Enter new budget value:
Revenge ['$20 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (October 2014)">citation needed</span></a></i>]</sup>]
Enter new budget value: $20 million
The_Field IR£5 million
Enter new budget value:
Narrow_Margin $15–20 million
Enter new budget value: $17.5 million
Madhouse Unknown
Enter new budget value:
The_Commitments ['$12–15 million', <sup class="reference" id="cite_ref-AFINotes_1-3"><a href="#cite_note-AFINotes-1">[1]</a></sup>, <sup class="reference" id="cite_ref-IrishSoul_4-0"><a href="#cite_note-IrishSoul-4">[4]</a></sup>, <sup class="reference" id="cite_ref-ScreeningIreland_5-0"><a href="#cite_note-ScreeningIreland-5">[5]</a></sup>, <sup class="reference" id="cite_ref-Surprise_6-0"><a href="#cite_note-Surprise-6">[6]</a></sup>]
Enter new budget value: $13.5 million
Europa <div class="plainlist"><ul><li style="white-space: nowrap"><a href="/wiki/Danish_krone" title="Danish krone">DKK</a> 28 million</li><li style="white-space: nowrap">(<a href="/wiki/United_States_dollar" title="United States dollar">US$</a>4 million)</li></ul></div>
Enter new budget value: $4 million
The_Adjuster CAD 1,500,000 (estimated)
Enter new budget value: $1,139,021
Beethoven ['$18 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (October 2018)">citation needed</span></a></i>]</sup>]
Enter new budget value: $18 million
The_Crying_Game [<a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '2.3 million']
Enter new budget value: £2.3 million
Man_Bites_Dog [<a href="/wiki/Belgian_franc" title="Belgian franc">BEF</a>, '1 million ', <span style="font-size:85%;">(<a href="/wiki/United_States_dollar" title="United States dollar">USD$</a>33,000)</span>]
Enter new budget value: $33,000
Strictly_Ballroom AUD 3 million
Enter new budget value: AU$3 million
Aces:_Iron_Eagle_III $10-12 million
Enter new budget value: $11 million
Brain_Donors Unknown
Enter new budget value:
The_Best_Intentions [<a href="/wiki/Swedish_krona" title="Swedish krona">kr</a>, ' 67 million', <sup class="reference" id="cite_ref-Elley_3-0"><a href="#cite_note-Elley-3">[3]</a></sup>]
Enter new budget value: $7,128,872
My_Life $15-20 million
Enter new budget value: $17.5 million
The_Advocate redirect. last tried name: The_Advocate_(1993_film)
Enter new budget value:
Bad_Girls $25-35 million
Enter new budget value: $30 million
Chasers ['$15 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (April 2018)">citation needed</span></a></i>]</sup>]
Enter new budget value: $15 million
Ashes_of_Time Hong Kong
Enter new budget value: US$1,912,490
Speechless ['$30 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (August 2019)">citation needed</span></a></i>]</sup>]
Enter new budget value: $30 million
The_Horseman_on_the_Roof $26,8 million
Enter new budget value: $26.8 million
Pusher 6.000.000 DKK
Enter new budget value: $892,764
House_Arrest ['$5 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (May 2014)">citation needed</span></a></i>]</sup>]
Enter new budget value: $5 million
Moll_Flanders [<a href="/wiki/United_States_dollar" title="United States dollar">US$</a>, '16 million']
Enter new budget value: $16 million

Princess_Mononoke Japan
Enter new budget value: $23.5 million
Perfect_Blue [<span style="white-space: nowrap">¥90 million</span>, <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, ' (', <span style="white-space: nowrap">$6,875,200</span>, ')', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>]
Enter new budget value: $6,875,200
Open_Your_Eyes ESP 370 million
Enter new budget value:
The_Castle redirect. last tried name: The_Castle_(1997_film)
Enter new budget value:
Fireworks redirect. last tried name: Fireworks_(1997_film)
Enter new budget value: $2.3 million
Murder_at_1600 $40-50 million
Enter new budget value: $45 million
Lock,_Stock_and_Two_Smoking_Barrels <div class="plainlist"> <ul><li><a href="/wiki/Pound_sterling" title="Pound sterling">£</a>800,000</li> <li>(<a href="/wiki/United_States_dollar" title="United States dollar">$</a>1.35 million)</li></ul> </div>
Enter new budget value: $1.35 million
Show_Me_Love [<a href="/wiki/Swedish_krona" title="Swedish krona">SEK</a>, ' 9,000,000']
Enter new budget value: $957,609
Taxi $8.7 million
Enter new budget value: $8.7 million
Kuch_Kuch_Hota_Hai [<span style="white-space: nowrap">₹</span>, '140 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>]
Enter new budget value: $1,980,492
Rudolph_the_Red-Nosed_Reindeer redirect. last tried name: Rudolph_the_Red-Nosed_Reindeer_(1998_film)
Enter new budget value: $10 million
All_About_My_Mother ['600 million ', <a href="/wiki/Spanish_peseta" title="Spanish peseta">pesetas</a>, ' ($4,989,091)']
Enter new budget value: $4,989,091
East_Is_East £1.9 million
Enter new budget value: £1.9 million
Code_Unknown [<a href="/wiki/French_language" title="French language">French</a>, <br/>, <a class="mw-redirect" href="/wiki/Maninka" title="Maninka">Maninka</a>, <br/>, <a href="/wiki/Romanian_language" title="Romanian language">Romanian</a>, <br/>, <a href="/wiki/German_language" title="German language">German</a>, <br/>, 'English', <br/>, <a href="/wiki/Arabic" title="Arabic">Arabic</a>, <br/>, <a href="/wiki/French_Sign_Language" title="French Sign Language">French Sign Language</a>]
Enter new budget value: $7.3 million
Together ['17,000,000 ', <a href="/wiki/Swedish_krona" title="Swedish krona">SEK</a>]
Enter new budget value: $1,808,818
Hey_Ram [<span class="nowrap"><span style="white-space: nowrap">₹</span>6 crore</span>, ' (equivalent to ', <span style="white-space: nowrap">₹</span>, '19\xa0crore or US$2.7\xa0million in 2018)', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>]
Enter new budget value:
Kaho_Naa..._Pyaar_Hai [<abbr title="estimation">est.</abbr>, ' ', <span style="white-space: nowrap">₹10 <a href="/wiki/Crore" title="Crore">crore</a></span>, <sup class="reference" id="cite_ref-boi_1-0"><a href="#cite_note-boi-1">[1]</a></sup>]
Enter new budget value:
Devils_on_the_Doorstep [<a class="mw-redirect" href="/wiki/US_dollar" title="US dollar">US$</a>, '3.9 million', <sup class="reference" id="cite_ref-budget1_1-0"><a href="#cite_note-budget1-1">[1]</a></sup>, <br/>, 'US$2.6 million', <sup class="reference" id="cite_ref-budget2_2-0"><a href="#cite_note-budget2-2">[2]</a></sup>]
Enter new budget value: US$2.6 million
The_Claim $20,000,000 (estimated)
Enter new budget value: $20,000,000
Kabhi_Khushi_Kabhie_Gham... <span style="white-space: nowrap">₹400 million</span>
Enter new budget value:
Dil_Chahta_Hai [<span style="white-space: nowrap">₹</span>, '140 million', <sup class="reference" id="cite_ref-Budget_and_BO_1-0"><a href="#cite_note-Budget_and_BO-1">[1]</a></sup>]
Enter new budget value:
Invincible redirect. last tried name: Invincible_(2001_film)
Enter new budget value:
Atanarjuat:_The_Fast_Runner [<a href="/wiki/Canadian_dollar" title="Canadian dollar">CA$</a>, '1,960,000 (est.)']
Enter new budget value: $1,488,321
Irreversible redirect. last tried name: Irreversible_(2002_film)
Enter new budget value: €4.6 million
Bend_It_Like_Beckham [<a href="/wiki/United_States_dollar" title="United States dollar">$</a>, '6\xa0million (', <a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '3.7\xa0million)']
Enter new budget value: $6 million
Russian_Ark ~$2,500,000
Enter new budget value: $2,500,000
Devdas redirect. last tried name: Devdas_(2002_film)
Enter new budget value:
8_Women ['€8.5 million', <sup class="reference" id="cite_ref-jpbo_2-0"><a href="#cite_note-jpbo-2">[2]</a></sup>, <br/>, '($7.5 million)']
Enter new budget value: €8.5 million
The_Eye ['Hong Kong', <br/>, 'Singapore', <sup class="reference" id="cite_ref-hkarchive_1-0"><a href="#cite_note-hkarchive-1">[1]</a></sup>]
Enter new budget value:
High_Tension France
Enter new budget value: $2.5 million
The_Return below US$500,000
Enter new budget value: US$500,000
Chasing_Papi $9,000,000 USD
Enter new budget value: $9,000,000
Young_Adam ['£4 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, <sup class="reference" id="cite_ref-Mojo_2-0"><a href="#cite_note-Mojo-2">[2]</a></sup>, <br/>, '($6.4 million)']
Enter new budget value: £4 million
Kal_Ho_Naa_Ho [<a href="/wiki/Indian_rupee_sign" title="Indian rupee sign"><span style="white-space: nowrap">₹</span></a>, '280\xa0million.', <sup class="reference" id="cite_ref-Kal_Ho_Naa_Ho_BOI_1-1"><a href="#cite_note-Kal_Ho_Naa_Ho_BOI-1">[1]</a></sup>, <sup class="reference" id="cite_ref-exchange2003_3-0"><a href="#cite_note-exchange2003-3">[a]</a></sup>]
Enter new budget value:
Time_of_the_Wolf ['€8.82 million', <sup class="reference" id="cite_ref-jpbo_2-0"><a href="#cite_note-jpbo-2">[2]</a></sup>, <br/>, '($10 million)']
Enter new budget value: $10 million
Undead [<a class="mw-redirect" href="/wiki/AUD" title="AUD">A$</a>, '1 million', <sup class="reference" id="cite_ref-numbers_1-0"><a href="#cite_note-numbers-1">[1]</a></sup>, <br/>, '(US$0.75 million)']
Enter new budget value: US$0.75 million
The_Barbarian_Invasions ['French', <br/>, 'English']
Enter new budget value: US$5 million
Koi..._Mil_Gaya [<span style="white-space: nowrap">₹</span>, '30 crore', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>]
Enter new budget value:
Pride_and_Prejudice redirect. last tried name: Pride_and_Prejudice_(2003_film)
Enter new budget value: $350,000
Downfall ['€13.5 million', <sup class="reference" id="cite_ref-Spiegel_6-0"><a href="#cite_note-Spiegel-6">[6]</a></sup>, ' (approx. $15 million)']
Enter new budget value: $15 million
9_Songs £1 million
Enter new budget value: £1 million
The_Motorcycle_Diaries N/A
Enter new budget value:
House_of_Flying_Daggers <div class="plainlist"> <ul><li>China</li> <li>Hong Kong</li></ul> </div>
Enter new budget value: $12 million
My_Summer_of_Love ['£1 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (March 2010)">citation needed</span></a></i>]</sup>]
Enter new budget value: £1 million
Ghost_in_the_Shell_2:_Innocence [<a class="mw-redirect" href="/wiki/USD" title="USD">$</a>, '20 million', <sup class="reference" id="cite_ref-www.nt2099.com_2-0"><a href="#cite_note-www.nt2099.com-2">[2]</a></sup>]
Enter new budget value: $20 million
Black_Friday redirect. last tried name: Black_Friday_(2004_film)
Enter new budget value: US$940,000
As_It_Is_in_Heaven [<a href="/wiki/Swedish_krona" title="Swedish krona">SEK</a>, ' 25,000,000 ≈  ', <br/>, ' US$3,700,000']
Enter new budget value: US$3,700,000
Swades [<span class="nowrap"><span style="white-space: nowrap">₹</span>21 crore</span>, ' (US$3.0\xa0million)', <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>]
Enter new budget value: US$3 million
Revolver [<a class="mw-redirect" href="/wiki/British_pound" title="British pound">£</a>, '14', <sup class="reference" id="cite_ref-cm_1-0"><a href="#cite_note-cm-1">[1]</a></sup>, ' / ', <a href="/wiki/Euro" title="Euro">€</a>, '20', <sup class="reference" id="cite_ref-jpb_2-0"><a href="#cite_note-jpb-2">[2]</a></sup>, ' / ', <a class="mw-redirect" href="/wiki/US_dollar" title="US dollar">$</a>, '27 million', <sup class="reference" id="cite_ref-cm_1-1"><a href="#cite_note-cm-1">[1]</a></sup>]

Enter new budget value: $27 million
Lady_Vengeance South Korea
Enter new budget value: $4.5 million
London redirect. last tried name: London_(2005_film)
Enter new budget value:
Idiocracy $2–4 million
Enter new budget value: $3 million
The_Host South Korea
Enter new budget value: US$11 million
Tenacious_D_in_The_Pick_of_Destiny ['$19-20 million', <sup class="reference" id="cite_ref-nyt_1-0"><a href="#cite_note-nyt-1">[1]</a></sup>, <sup class="reference" id="cite_ref-mojo_2-0"><a href="#cite_note-mojo-2">[2]</a></sup>]
Enter new budget value: $19.5 million
Rang_De_Basanti [<span style="white-space: nowrap">₹</span>, '280', <span class="nowrap"> </span>, 'million', <sup class="reference" id="cite_ref-boxofficeindia.com_1-0"><a href="#cite_note-boxofficeindia.com-1">[1]</a></sup>]
Enter new budget value:
The_Wind_That_Shakes_the_Barley ['€6.5 million', <sup class="reference" id="cite_ref-element_2-4"><a href="#cite_note-element-2">[2]</a></sup>, <sup class="reference" id="cite_ref-numbers_3-0"><a href="#cite_note-numbers-3">[3]</a></sup>, <br/>, '($8.3 million)']
Enter new budget value: $8.3 million
Taxidermia [<a href="/wiki/Hungarian_forint" title="Hungarian forint">HUF</a>, ' 500 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <br/>, '(', <span style="white-space: nowrap">US$</span>, '2.4 million)']
Enter new budget value: $2.4 million
Akeelah_and_the_Bee ['$6–8 million', <sup class="reference" id="cite_ref-ppgaz_4-0"><a href="#cite_note-ppgaz-4">[3]</a></sup>, <sup class="reference" id="cite_ref-box_5-0"><a href="#cite_note-box-5">[4]</a></sup>]
Enter new budget value: $7 million
Hot_Fuzz [<span style="white-space: nowrap">US$</span>, '12–16 million', <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>, <sup class="reference" id="cite_ref-Numbers_4-0"><a href="#cite_note-Numbers-4">[4]</a></sup>]
Enter new budget value: $14 million
The_Diving_Bell_and_the_Butterfly $12.8 million
Enter new budget value: $12.8 million
Son_of_Rambow [<a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '4.5 million', <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>]
Enter new budget value: £4.5 million
The_Visitor redirect. last tried name: The_Visitor_(2007_film)
Enter new budget value:
Donkey_Punch [<a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '1 million', <sup class="reference" id="cite_ref-washingtoncitypaperinterview_2-0"><a href="#cite_note-washingtoncitypaperinterview-2">[2]</a></sup>, <sup class="reference" id="cite_ref-eyeforfilminterview_3-0"><a href="#cite_note-eyeforfilminterview-3">[3]</a></sup>]
Enter new budget value: £1 million
3_Idiots [<span style="white-space: nowrap">₹</span>, '55 ', <a href="/wiki/Crore" title="Crore">crore</a>, <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <sup class="reference" id="cite_ref-exchange_3-0"><a href="#cite_note-exchange-3">[3]</a></sup>]
Enter new budget value:
An_Education $7.5 million
Enter new budget value: $7.5 million
Spread ['$4,789,700', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (August 2015)">citation needed</span></a></i>]</sup>]
Enter new budget value: $4,789,700
About_Elly $1،350،000
Enter new budget value: $1350000
The_White_Ribbon [<span style="white-space: nowrap">US$</span>, '18 million', <sup class="reference" id="cite_ref-mojo_3-0"><a href="#cite_note-mojo-3">[3]</a></sup>]
Enter new budget value: $18 million
Nowhere_Boy [<a href="/wiki/Pound_sterling" title="Pound sterling">₤</a>, '1.2 million', <sup class="reference" id="cite_ref-grant-bbc_3-0"><a href="#cite_note-grant-bbc-3">[3]</a></sup>, <sup class="reference" id="cite_ref-uk-film-council-funding_4-0"><a href="#cite_note-uk-film-council-funding-4">[4]</a></sup>]
Enter new budget value: £1.2 million
Mystery_Team < $1 million
Enter new budget value: $1 million
Arthur_and_the_Revenge_of_Maltazard [<a href="/wiki/Euro" title="Euro">€</a>, '65 million', <br/>, '(', <a class="mw-redirect" href="/wiki/USD" title="USD">$</a>, '90 million)', <br/>, <small>(shared with <b>Arthur 3</b>)</small>]
Enter new budget value:
I_Saw_the_Devil South Korea
Enter new budget value: US$6 million
Frozen redirect. last tried name: Frozen_(2010_film)
Enter new budget value:
The_Way N/A
Enter new budget value:
Trollhunter ['NOK 19 million', <br/>, <span style="font-size:85%;">($3.5 million)</span>]
Enter new budget value: $3.5 million
Tamara_Drewe £6–8 million
Enter new budget value: £7 million
Ip_Man_2 Hong Kong
Enter new budget value: US$12,902,809
Heartbeats [<a href="/wiki/Canadian_dollar" title="Canadian dollar">CAD$</a>, '600,000 ', <span style="font-size:85%;">(approx. <a href="/wiki/United_States_dollar" title="United States dollar">USD$</a>594,695)</span>]
Enter new budget value: $594,695
Easy_Money [<a href="/wiki/Swedish_krona" title="Swedish krona">SEK</a>, ' 30 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>]
Enter new budget value: $3,192,032
Elite_Squad:_The_Enemy_Within [<a class="mw-redirect" href="/wiki/BRL" title="BRL">R$</a>, ' 16 million', <sup class="reference" id="cite_ref-Globo2_1-0"><a href="#cite_note-Globo2-1">[1]</a></sup>, <br/>, <small>(<a class="mw-redirect" href="/wiki/USD" title="USD">US$</a> 9,509,65)</small>]
Enter new budget value:
The_Trip redirect. last tried name: The_Trip_(2010_film)
Enter new budget value:
In_a_Better_World ['DKK30 million (US$5.5 million', <sup class="reference" id="cite_ref-BOM_2-0"><a href="#cite_note-BOM-2">[2]</a></sup>, ')']
Enter new budget value: US$5.5 million
Guzaarish <span style="white-space: nowrap"><a href="/wiki/Indian_rupee" title="Indian rupee">₹</a>500 million</span>
Enter new budget value:
The_Intouchables [<a href="/wiki/Euro" title="Euro">€</a>, '9.5 million', <br/>, '($10.8 million)']
Enter new budget value: $10.8 million
Headhunters [<a class="mw-redirect" href="/wiki/US_Dollar" title="US Dollar">USD</a>, ' 3,636,887 ', <sup class="reference" id="cite_ref-dagbladet_1-0"><a href="#cite_note-dagbladet-1">[1]</a></sup>]
Enter new budget value: $3,636,887
Weekend [<a class="mw-redirect" href="/wiki/British_pound" title="British pound">£</a>, '120,000']
Enter new budget value: £120,000
Zindagi_Na_Milegi_Dobara [<span class="nowrap"><span style="white-space: nowrap">₹</span>550 million</span>, ' (US$8.0\xa0million)', <sup class="reference" id="cite_ref-znmdbudget_2-0"><a href="#cite_note-znmdbudget-2">[2]</a></sup>]
Enter new budget value: US$8.0 million
The_Hunter redirect. last tried name: The_Hunter_(2011_film)
Enter new budget value:
Rust_and_Bone ['€15.4 million', <br/>, '(', <a href="/wiki/United_States_dollar" title="United States dollar">$</a>, '20 million)']
Enter new budget value: $20 million
Byzantium [<a href="/wiki/Euro" title="Euro">€</a>, '8 million', <sup class="reference" id="cite_ref-4"><a href="#cite_note-4">[4]</a></sup>]
Enter new budget value: €8 million
John_Dies_at_the_End Less than $1 million
Enter new budget value: $1 million
The_Sweeney <a href="/wiki/ITV_(TV_network)" title="ITV (TV network)">ITV</a>
Enter new budget value: £3 million
Kahaani <span style="white-space: nowrap"><a href="/wiki/Indian_rupee" title="Indian rupee">₹</a>80 million</span>
Enter new budget value:
If_I_Were_You redirect. last tried name: If_I_Were_You_(2012_film)
Enter new budget value:
Lore [<a href="/wiki/Euro" title="Euro">EUR €</a>, '4.3 million']
Enter new budget value: €4.3 million
The_Reluctant_Fundamentalist ['$15\xa0million', <sup class="reference" id="cite_ref-New_York_Times_budget_3-0"><a href="#cite_note-New_York_Times_budget-3">[3]</a></sup>, <sup class="reference" id="cite_ref-film_budget_4-0"><a href="#cite_note-film_budget-4">[4]</a></sup>]
Enter new budget value: $15 million
Dracula_3D [<a href="/wiki/Euro" title="Euro">€</a>, '5.6 million', <br/>, '(', <a href="/wiki/United_States_dollar" title="United States dollar">USD$</a>, '7.7 million)']
Enter new budget value: $7.7 million
English_Vinglish [<span style="white-space: nowrap">₹26 <a href="/wiki/Crore" title="Crore">crore</a></span>, <sup class="reference" id="cite_ref-BOI_finances_2-0"><a href="#cite_note-BOI_finances-2">[2]</a></sup>, <sup class="noprint Inline-Template noprint noexcerpt Template-Fact" style="white-space:nowrap;">[<i><a class="mw-redirect" href="/wiki/Wikipedia:NOTRS" title="Wikipedia:NOTRS"><span title="BOI includes print and advertising fees, which are never factored into production budgets. (November 2019)">better source needed</span></a></i>]</sup>]

Enter new budget value:
A_Hijacking ['DKK 15 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, ' (approx. $2.6 million)']
Enter new budget value: $2.6 million
Short_Term_12 under $1 million
Enter new budget value: $1 million
Europa_Report Less than $10 million
Enter new budget value: $10 million
Austenland [<a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '4.9 million', <br/>, '(', <a href="/wiki/United_States_dollar" title="United States dollar">$</a>, '7.6 million)']
Enter new budget value: $7.6 million
In_a_World... Less than $1 million
Enter new budget value: $1 million
The_Tale_of_the_Princess_Kaguya Japan
Enter new budget value: $49 million
Jimi:_All_Is_by_My_Side ['$5 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>, <sup class="reference" id="cite_ref-TN_2-0"><a href="#cite_note-TN-2">[2]</a></sup>]
Enter new budget value: $5 million
The_Congress ['€8 million', <sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (July 2014)">citation needed</span></a></i>]</sup>]
Enter new budget value: €8 million
PK [<span style="white-space: nowrap"><a href="/wiki/Indian_rupee" title="Indian rupee">₹</a></span>, '85', <span class="nowrap"> </span>, 'crore', <sup class="reference" id="cite_ref-7"><a href="#cite_note-7">[a]</a></sup>]
Enter new budget value:
Leviathan ['220 million ', <a href="/wiki/Russian_ruble" title="Russian ruble">RUB</a>]
Enter new budget value:
'71 [<a href="/wiki/Pound_sterling" title="Pound sterling">£</a>, '8.1 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>]
Enter new budget value: £8.1 million
Two_Days,_One_Night [<a href="/wiki/Euro" title="Euro">€</a>, '7 million']
Enter new budget value: €7 million
Big_Game [<a href="/wiki/Euro" title="Euro">€</a>, '8.5 million', <sup class="reference" id="cite_ref-yle_2014_2-0"><a href="#cite_note-yle_2014-2">[2]</a></sup>, <br/>, '(', <a href="/wiki/United_States_dollar" title="United States dollar">$</a>, '10 million)']
Enter new budget value: $10 million
In_Order_of_Disappearance [<a href="/wiki/Norwegian_krone" title="Norwegian krone">kr</a>, '30 million', <sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup>]
Enter new budget value: $3,324,015
The_Tribe [<a class="mw-redirect" href="/wiki/Hryvnia" title="Hryvnia">₴</a>, ' 14 mln.', <sup class="reference" id="cite_ref-VZ_2-0"><a href="#cite_note-VZ-2">[2]</a></sup>, ' ', <small>(<a class="mw-redirect" href="/wiki/USD" title="USD">$</a> 1.5 mln.<sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>)</small>]
Enter new budget value: $1.5 million
Youth <div class="plainlist"> <ul><li><a href="/wiki/Euro" title="Euro">€</a>12.8 million<sup class="reference" id="cite_ref-jpbo_3-0"><a href="#cite_note-jpbo-3">[3]</a></sup></li> <li>(<a href="/wiki/United_States_dollar" title="United States dollar">$</a>14.4 million)</li></ul> </div>
Enter new budget value: €12.8 million
Far_from_the_Madding_Crowd [<a href="/wiki/Pound_sign" title="Pound sign">£</a>, '12 million', <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup>]
Enter new budget value: £12 million
Born_to_Be_Blue less than $10 million
Enter new budget value: $10 million
The_Handmaiden South Korea
Enter new budget value: $8.8 million
Lady_Macbeth [<a class="mw-redirect" href="/wiki/%C2%A3" title="£">£</a>, '500,000', <br/>, '(', <a class="mw-redirect" href="/wiki/USD$" title="USD$">$</a>, '650,000)', <sup class="reference" id="cite_ref-preview_2-0"><a href="#cite_note-preview-2">[2]</a></sup>]
Enter new budget value: $650,000
Dangal [<span style="white-space: nowrap"><a href="/wiki/Indian_rupee" title="Indian rupee">₹</a></span>, '70', <span class="nowrap"> </span>, <a href="/wiki/Crore" title="Crore">crore</a>, <sup class="reference" id="cite_ref-budget_3-0"><a href="#cite_note-budget-3">[3]</a></sup>]
Enter new budget value:
Hunt_for_the_Wilderpeople [<a href="/wiki/United_States_dollar" title="United States dollar">US$</a>, '2.5 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>]
Enter new budget value: $2.5 million
Toni_Erdmann <div class="plainlist"> <ul><li><a href="/wiki/Euro" title="Euro">€</a>3 million</li> <li>(<a href="/wiki/United_States_dollar" title="United States dollar">USD$</a>3.2 million)</li></ul> </div>
Enter new budget value: $3.2 million
The_Wailing South Korea
Enter new budget value: US$8 million
Lowriders ['$5 million', <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup>, <sup class="reference" id="cite_ref-budget_3-0"><a href="#cite_note-budget-3">[3]</a></sup>]
Enter new budget value: $5 million

In [20]:
#DO NOT RUN AGAIN. THIS WRITES THE MANUALLY INSERTED VALUES INTO A FILE
#Backup the dictFile with the new manually inserted values
with open("manuallyInserted.txt","w",encoding="utf-8") as file:
    for key, value in dictFile.items():
        file.write(key+"==="+str(value).replace("\n"," ")+"\n")

In [10]:
#Run after fresh start to get the manually fixed budget values
with open("manuallyInserted.txt","r",encoding="utf-8") as file:
    lines = file.readlines()
for line in lines:
    if line=="":
        continue
    split = line.split("===")
    dictFile[split[0]] = split[1].replace("\n","")

### Add the newfound values into the set

In [14]:
for key, value in dictFile.items():
    if type(value)==float:
        data[data["name"] == key.replace("_"," ")] = data[data["name"] == key.replace("_"," ")].replace(to_replace=0.0,value=value)

### Encoding labels

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

##strings to numbers
labelEncoder = LabelEncoder()
labelEncoder.fit(data['company'])
data['company'] = labelEncoder.transform(data['company'])

labelEncoder.fit(data['country'])
data['country'] = labelEncoder.transform(data['country'])

labelEncoder.fit(data['director'])
data['director'] = labelEncoder.transform(data['director'])

labelEncoder.fit(data['genre'])
data['genre'] = labelEncoder.transform(data['genre'])

labelEncoder.fit(data['name'])
data['name'] = labelEncoder.transform(data['name'])

labelEncoder.fit(data['rating'])
data['rating'] = labelEncoder.transform(data['rating'])

labelEncoder.fit(data['star'])
data['star'] = labelEncoder.transform(data['star'])

labelEncoder.fit(data['writer'])
data['writer'] = labelEncoder.transform(data['writer'])

labelEncoder.fit(data['released'])
data['released'] = labelEncoder.transform(data['released'])


data.head(20)

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.00,665,54,2192,1,52287414.00,4661,8,39,89,8.10,2454,299174,3716,1986
1,6000000.00,1680,54,1296,4,70136369.00,1821,7,27,103,7.80,1605,264740,1970,1986
2,15000000.00,1680,54,2645,0,179800601.00,6203,6,23,110,6.90,2345,236909,1852,1986
3,18500000.00,2062,54,1066,0,85160248.00,295,8,33,137,8.40,2192,540152,1629,1986
4,9000000.00,2122,54,2123,1,18564613.00,1872,6,36,90,6.90,1139,36636,2549,1986
5,6000000.00,1158,53,1948,6,138530565.00,3903,8,75,120,8.10,369,317585,2988,1986
6,25000000.00,1160,53,1207,1,12729917.00,2883,6,30,101,7.40,528,102879,977,1986
7,6000000.00,768,54,588,6,8551228.00,771,8,51,120,7.80,924,146768,897,1986
8,9000000.00,1680,54,1004,4,40471663.00,3964,7,9,96,6.80,1730,60565,1970,1986
9,15000000.00,1854,54,557,6,40456565.00,5306,8,38,96,7.50,1039,129698,1333,1986
10,8800000.00,1827,2,2033,1,174635000.00,1238,7,45,97,6.50,1856,79465,2252,1986
11,16000000.00,2024,53,2292,0,5900000.00,2306,8,10,116,7.20,424,104860,1408,1986
12,6000000.00,2062,54,612,4,8200000.00,3110,7,14,100,6.80,456,12228,931,1986
13,25000000.00,2062,54,1267,0,11100000.00,686,7,31,99,7.30,1402,101678,1288,1986
14,15000000.00,768,54,1792,5,8620929.00,3196,8,38,120,7.20,2468,54000,3885,1986
15,17000000.00,1752,54,28,6,6734844.00,93,8,8,117,5.90,1693,31798,1137,1986
16,10000000.00,768,54,2447,0,7433663.00,3248,8,34,98,5.40,684,24881,3716,1986
17,25000000.00,1052,54,811,4,38747385.00,3022,7,65,94,6.90,1984,53327,1516,1986
18,2700000.00,1579,54,1845,0,3500000.00,6093,7,60,93,5.90,369,11635,2816,1986
19,35000000.00,2085,54,2699,0,16295774.00,2413,6,36,110,4.60,1434,36020,3749,1986

### Drop all movies with no budget

In [16]:
data = data[data["budget"]!=0]

# Working with the data

In [17]:
labels = data["gross"]
movie_data = data.drop(["gross"],1)

X_train, X_test, y_train, y_test = train_test_split(movie_data, labels, test_size = 0.3, random_state = 0)

In [24]:
rf = RandomForestClassifier(criterion="gini",n_estimators=80, max_depth=160).fit(X_train, y_train)
predictions = rf.predict(X_test)
pList = predictions.tolist()

In [25]:
accuracyResults = pd.DataFrame(columns=["name","realGross","predictedGross","difference"])
for i in range(len(pList)):
    row = X_test.iloc[i]
    label = y_test.iloc[i]
    accuracyResults = accuracyResults.append({"name":row["name"],"realGross":label,"predictedGross":pList[i],"difference":abs(label-pList[i])},ignore_index=True)

with open("modelsUsed.txt","a",encoding="utf-8") as f:
    f.write("model==="+str(rf)+"\tmean==="+str(accuracyResults["difference"].mean())+"\n")
accuracyResults["difference"].describe()

count        1392.00
mean     33479617.27
std      52745095.20
min          1237.00
25%       5263446.75
50%      17734627.00
75%      40898209.75
max     863584125.00
Name: difference, dtype: float64

In [34]:
testDf = X_train.copy()
testDf.add(["test"])

ValueError: Unable to coerce to Series, length must be 14: given 1

In [24]:
predictedDF["gross"] = predictions

C:\Users\Silver\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.